In [304]:
import numpy as np 
from scipy.io import arff
import pandas as pd

# Creating Training Data view

In [305]:
data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TRAIN.arff')

In [306]:
df_D1 = pd.DataFrame(data1[0])

In [307]:
data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TRAIN.arff')

In [308]:
df_D2 = pd.DataFrame(data2[0])

In [309]:
data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TRAIN.arff')

In [310]:
df_D3 = pd.DataFrame(data3[0])

In [311]:
df_D1.shape

(1422, 183)

In [312]:
df_D2.shape

(1422, 183)

In [313]:
df_D3.shape

(1422, 183)

In [314]:
df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,-0.13015,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.4095,-0.460814,-0.517526,-0.57844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [315]:
df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [316]:
df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,0.071323,0.083973,0.085534,0.078218,0.067093,0.05552,0.043275,0.027787,0.005932,-0.025043,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [317]:
df_D2.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [318]:
df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.899306,1.157239,1.320469,1.369472,1.323889,1.221704,1.098215,0.979016,0.880755,0.806413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [319]:
df_D3.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [320]:
df_D1 = df_D1.fillna(0)
df_D2 = df_D2.fillna(0)
df_D3 = df_D3.fillna(0)

In [321]:
df_D1_T = df_D1.head(1).T

In [322]:
df_D2_T = df_D2.head(1).T

In [323]:
df_D3_T = df_D3.head(1).T

In [324]:
arr1 = df_D1_T.to_numpy()
arr2 = df_D2_T.to_numpy()
arr3 = df_D3_T.to_numpy()

In [325]:
finalarray_training_data = np.concatenate((arr1, arr2),axis=1)

In [326]:
finalarray_training_data = np.concatenate((finalarray_training_data, arr3),axis=1)

In [327]:
df_D1_Row2 = df_D1.head(2)
df_D2_Row2 = df_D2.head(2)
df_D3_Row2 = df_D3.head(2)

In [328]:
df_D1_Row2 = df_D1_Row2.drop(df_D1_Row2.index[0]).T
df_D2_Row2 = df_D2_Row2.drop(df_D2_Row2.index[0]).T
df_D3_Row2 = df_D3_Row2.drop(df_D3_Row2.index[0]).T

In [329]:
arr4 = df_D1_Row2
arr5 = df_D2_Row2
arr6 = df_D3_Row2

In [330]:
finalarray_training_data_row2 = np.concatenate((arr4, arr5),axis=1)

In [331]:
finalarray_training_data_row2 = np.concatenate((finalarray_training_data_row2, arr6),axis=1)

In [332]:
finalarray_training_data_row2

array([[-0.085541, 0.135489, 0.73827],
       [-0.114704, 0.181716, 0.94641],
       [-0.141445, 0.219917, 1.091888],
       [-0.16616, 0.247798, 1.171616],
       [-0.191072, 0.266823, 1.20429],
       [-0.218434, 0.278887, 1.207528],
       [-0.249653, 0.284405, 1.183555],
       [-0.285248, 0.282681, 1.123301],
       [-0.325004, 0.273129, 1.021858],
       [-0.368095, 0.256052, 0.890539],
       [-0.413306, 0.232628, 0.755676],
       [-0.459479, 0.204415, 0.644218],
       [-0.506021, 0.1729, 0.567514],
       [-0.553113, 0.139475, 0.518755],
       [-0.601414, 0.105473, 0.485351],
       [-0.651406, 0.071472, 0.460843],
       [-0.703004, 0.035997, 0.446067],
       [-0.755875, -0.004657, 0.444034],
       [-0.81003, -0.054332, 0.454975],
       [-0.865813, -0.114588, 0.474156],
       [-0.923237, -0.184964, 0.493791],
       [-0.981447, -0.265301, 0.506446],
       [-1.038733, -0.356525, 0.506758],
       [-1.092821, -0.458605, 0.492643],
       [-1.140926, -0.568193, 0.464882],
       [-1.179279, -0.678701, 0.423922],
       [-1.202583, -0.782651, 0.371495],
       [-1.204436, -0.874058, 0.317059],
       [-1.179041, -0.949145, 0.273506],
       [-1.122932, -1.005633, 0.242622],
       [-1.035421, -1.041996, 0.213529],
       [-0.91809, -1.057624, 0.178516],
       [-0.774513, -1.053478, 0.142301],
       [-0.610372, -1.031998, 0.113521],
       [-0.433046, -0.995859, 0.094852],
       [-0.24995, -0.946676, 0.084231],
       [-0.066587, -0.884763, 0.079004],
       [0.113771, -0.809821, 0.075253],
       [0.288678, -0.721769, 0.06792],
       [0.455669, -0.621297, 0.055119],
       [0.613023, -0.510081, 0.03992],
       [0.760343, -0.390665, 0.026468],
       [0.897679, -0.266105, 0.016391],
       [1.024104, -0.139446, 0.00931],
       [1.13693, -0.013219, 0.004629],
       [1.23189, 0.110742, 0.001924],
       [1.304259, 0.230964, 0.000649],
       [1.350454, 0.345796, 0.000175],
       [1.369187, 0.453231, 3.7e-05],
       [1.361583, 0.551195, 6e-06],
       [1.330477, 0.638024, 1e-06],
       [1.279596, 0.712888, 0.0],
       [1.213173, 0.775985, 0.0],
       [1.135908, 0.828443, 0.0],
       [1.052654, 0.872044, 0.0],
       [0.967518, 0.908953, 0.0],
       [0.883054, 0.941283, 0.0],
       [0.80034, 0.970224, 0.0],
       [0.719774, 0.994897, 0.0],
       [0.64169, 1.011777, 0.0],
       [0.566243, 1.015467, 0.0],
       [0.492924, 1.000581, 0.0],
       [0.420489, 0.963515, 0.0],
       [0.347626, 0.903107, 0.0],
       [0.273907, 0.820385, 0.0],
       [0.200302, 0.718281, 0.0],
       [0.128621, 0.601653, 0.0],
       [0.059809, 0.476927, 0.0],
       [-0.007621, 0.350526, 0.0],
       [-0.076823, 0.226703, 0.0],
       [-0.149546, 0.106672, 0.0],
       [-0.223991, -0.010206, 0.0],
       [-0.295948, -0.124753, 0.0],
       [-0.361487, -0.237498, 0.0],
       [-0.418194, -0.348985, 0.0],
       [-0.464685, -0.459425, 0.0],
       [-0.500019, -0.567557, 0.0],
       [-0.523938, -0.66995, 0.0],
       [-0.537364, -0.761846, 0.0],
       [-0.542321, -0.839252, 0.0],
       [-0.541207, -0.900749, 0.0],
       [-0.535833, -0.94745, 0.0],
       [-0.526617, -0.981224, 0.0],
       [-0.512168, -1.002878, 0.0],
       [-0.489399, -1.011795, 0.0],
       [-0.454044, -1.006875, 0.0],
       [-0.401391, -0.987401, 0.0],
       [-0.327178, -0.952886, 0.0],
       [-0.228688, -0.902544, 0.0],
       [-0.105749, -0.835431, 0.0],
       [0.038823, -0.751089, 0.0],
       [0.199685, -0.649941, 0.0],
       [0.37008, -0.533386, 0.0],
       [0.542766, -0.40398, 0.0],
       [0.710225, -0.265468, 0.0],
       [0.8646, -0.122373, 0.0],
       [0.998208, 0.020569, 0.0],
       [1.10453, 0.158739, -2e-06],
       [1.178977, 0.287966, -2.2e-05],
       [1.219202, 0.40498, -0.000176],
       [1.225256, 0.507627, -0.001141],
       [1.199638, 0.594813, -0.005934],
       [1.147003, 0.666541, -0.024879],
       [1.07352, 0.723813, -0.084614],
       [0.98607, 0.768073, -0.235279],
       [0.891588, 0.8005, -0.539769],
       [0.796794, 0.821651, -1.032323],
       [0.708319, 0.83141, -1.66515],
       [0.632627, 0.829185, -2.295118],
       [0.574928, 0.814988, -2.745958],
       [0.537226, 0.791327, -2.912821],
       [0.517168, 0.763952, -2.824857],
       [0.509185, 0.739675, -2.611008],
       [0.507316, 0.722792, -2.40368],
       [0.507485, 0.713528, -2.268089],
       [0.507884, 0.709512, -2.202459],
       [0.508095, 0.708138, -2.178222],
       [0.508165, 0.707768, -2.171308],
       [0.508182, 0.707689, -2.169777],
       [0.508185, 0.707676, -2.169513],
       [0.508186, 0.707674, -2.169477],
       [0.508185, 0.707673, -2.169471],
       [0.508178, 0.707663, -2.169442],
       [0.508128, 0.707593, -2.169225],
       [0.507825, 0.707171, -2.167933],
       [0.506412, 0.705203, -2.1619],
       [0.501224, 0.697979, -2.139754],
       [0.48623, 0.6771, -2.075745],
       [0.452064, 0.629522, -1.929888],
       [0.390601, 0.543931, -1.667497],
       [0.303218, 0.422246, -1.294453],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [b'1', b'1', b'1']], dtype=object)

In [333]:
finalarray_training_data[:][0]

array([-0.13015, 0.071323, 0.899306], dtype=object)

In [334]:
finalarray_training_data[:][-1]

array([b'1', b'1', b'1'], dtype=object)

In [335]:
dictionary = dict()

In [336]:
dictionary['1'] = finalarray_training_data

In [337]:
dictionary['2'] = finalarray_training_data_row2

# Making Original Test View

In [338]:
Test_data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TEST.arff')

In [339]:
Test_df_D1 = pd.DataFrame(Test_data1[0])

In [340]:
Test_data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TEST.arff')

In [341]:
Test_df_D2 = pd.DataFrame(Test_data2[0])

In [342]:
Test_data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TEST.arff')

In [343]:
Test_df_D3 = pd.DataFrame(Test_data3[0])

In [344]:
print(Test_df_D1.shape)
print(Test_df_D2.shape)
print(Test_df_D3.shape)

(1436, 183)
(1436, 183)
(1436, 183)

In [345]:
Test_df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,0.043915,0.033922,0.007255,-0.030362,-0.069213,-0.101034,-0.123061,-0.138499,-0.153547,-0.173622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [346]:
Test_df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [347]:
Test_df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,-0.010011,-0.004357,0.005951,0.018295,0.029589,0.038164,0.044259,0.048942,0.052885,0.056265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [348]:
Test_df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.536491,0.76718,0.993862,1.184721,1.31248,1.360485,1.32964,1.241397,1.13202,1.03714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [349]:
Test_df_D1_T = Test_df_D1.head(1).T
Test_df_D2_T = Test_df_D2.head(1).T
Test_df_D3_T = Test_df_D3.head(1).T

In [350]:
Test_df_D1_T=Test_df_D1_T.fillna(0)
Test_df_D2_T=Test_df_D2_T.fillna(0)
Test_df_D3_T=Test_df_D2_T.fillna(0)

In [351]:
Test_arr1 = Test_df_D1_T.to_numpy()
Test_arr2 = Test_df_D2_T.to_numpy()
Test_arr3 = Test_df_D3_T.to_numpy()

In [352]:
finalarray_test_data = np.concatenate((Test_arr1, Test_arr2),axis=1)

In [353]:
finalarray_test_data = np.concatenate((finalarray_test_data, Test_arr3),axis=1)

In [354]:
Origianl_test_view = finalarray_test_data

In [355]:
OV = Origianl_test_view

# Pseudo Time Series

For creating PTS, the start and end point, will take from test data view and in between the points would be random partilly from Training Data

In [356]:
Starting_point = Origianl_test_view[:][0:1]
End_point = Origianl_test_view[:][182:183]

In [357]:
copy_of_training_view_row1 = finalarray_training_data
copy_of_training_view_row2 = finalarray_training_data_row2

In [358]:
training_slice_1 = copy_of_training_view_row2[:][1:46]
training_slice_2 = copy_of_training_view_row1[:][46:92]
training_slice_3 = copy_of_training_view_row2[:][92:116]
training_slice_4 = copy_of_training_view_row1[:][116:182]

In [359]:
print(training_slice_1.shape)
print(training_slice_2.shape)
print(training_slice_3.shape)
print(training_slice_4.shape)

(45, 3)
(46, 3)
(24, 3)
(66, 3)

In [360]:
Partial_Psuedo_Series = np.concatenate((Starting_point, training_slice_1),axis=0)
Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, training_slice_3),axis=0)
Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, training_slice_2),axis=0)
Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, training_slice_4),axis=0)
Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, End_point),axis=0)

In [361]:
PTS_V = Partial_Psuedo_Series

# Random Pseudo TS

In [362]:
Starting_point = Origianl_test_view[:][0:1]
End_point = Origianl_test_view[:][182:183]

In [363]:
training_slice_1_for_PTS = copy_of_training_view_row1[:][1:25]
training_slice_2_for_PTS = copy_of_training_view_row2[:][25:29]
training_slice_3_for_PTS = copy_of_training_view_row1[:][29:50]
training_slice_4_for_PTS = copy_of_training_view_row2[:][50:55]
training_slice_5_for_PTS = copy_of_training_view_row2[:][55:80]
training_slice_6_for_PTS = copy_of_training_view_row1[:][80:85]
training_slice_7_for_PTS = copy_of_training_view_row2[:][85:110]
training_slice_8_for_PTS = copy_of_training_view_row1[:][110:116]
training_slice_9_for_PTS = copy_of_training_view_row2[:][116:182]

In [364]:
Random_Psuedo_Time_Series = np.concatenate((Starting_point, training_slice_1_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_2_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_3_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_4_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_5_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_6_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_7_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_8_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_9_for_PTS),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, End_point),axis=0)

In [365]:
Random_Psuedo_Time_Series.shape

(183, 3)

In [366]:
RV_PTS = Random_Psuedo_Time_Series

# Testing Different DTW varients

In [367]:
from scipy.spatial.distance import pdist, cdist
from sklearn.metrics.pairwise import euclidean_distances, pairwise_distances
from sklearn.utils import check_random_state

In [368]:
from tslearn.soft_dtw_fast import *
from tslearn.cysax import *
from tslearn.metrics import dtw, dtw_path,dtw_path_from_metric,soft_dtw
from tslearn.utils import *

In [369]:
# Compute Dynamic Time Warping (DTW) similarity measure between (possibly multidimensional) 
# time series and return it.
dist = dtw(OV, RV_PTS, global_constraint=None, sakoe_chiba_radius=None, itakura_max_slope=None)
dist

15.304965738351981

In [370]:

dist = dtw(OV, PTS_V, global_constraint=None, sakoe_chiba_radius=None, itakura_max_slope=None)
dist

12.800305274486698

In [371]:
# Compute Soft-DTW metric between two time series.
soft_dtw_score = soft_dtw(OV, RV_PTS, gamma=.1)
soft_dtw_score

222.2884479224757

In [372]:

soft_dtw_score = soft_dtw(OV, PTS_V, gamma=.1)
soft_dtw_score

150.15342448646297

In [373]:
# Compute Dynamic Time Warping (DTW) similarity measure between (possibly multidimensional) time series
# using a distance metric defined by the user and return both the path and 
# the similarity.
path, dist = dtw_path_from_metric(OV, RV_PTS)
print(dist)

157.7248526171892

In [374]:

path, dist = dtw_path_from_metric(OV, PTS_V)
print(dist)

137.52871566961315

In [375]:
# Compute Dynamic Time Warping (DTW) similarity measure between (possibly multidimensional) time series
# and return both the path and the similarity.
path, dist = dtw_path(OV, RV_PTS)
print(dist)

15.304965738351981

In [376]:
path, dist = dtw_path(OV, PTS_V)
print(dist)

12.800305274486698

In [377]:
cost = dtw(OV, RV_PTS, global_constraint="itakura", itakura_max_slope=2.)
cost

15.471200195691702

In [378]:
cost = dtw(OV, PTS_V, global_constraint="itakura", itakura_max_slope=2.)
cost

12.863509094379571

# Calculating DTW

In [383]:
from scipy.spatial.distance import *
from fastdtw import fastdtw

In [384]:
# jaccard
# euclidean
# hamming
# sqeuclidean
# cityblock
distance, path = fastdtw(OV, RV_PTS, dist=hamming)
print(distance)
# print(path)

143.0

# Using FastDTW

In [113]:
# import matplotlib.pyplot as plt
# from scipy.spatial.distance import euclidean
# from fastdtw import fastdtw

In [112]:
# start=0
# end=2*np.pi
# step=0.1
# k=2
# x1=np.arange(start,end,k*step)
# x2=np.arange(start,end/k,step)

# noise=np.random.uniform(start,end,len(x2))/10

# y1=np.sin(x1)+1*np.sin(2*x1)+noise

# y2=np.sin(k*x2)+1*np.sin(k*2*x2)




# time_series_A=OV
# time_series_B=RV
# distance, path = fastdtw(time_series_A, time_series_B, dist=euclidean)
# print(distance)
# # print(path)



# sin1=plt.plot(list(list(zip(*path))[0]))
# plt.setp(sin1,color="b",linewidth=2.0)

# sin2=plt.plot(list(list(zip(*path))[1]))
# plt.setp(sin2,color="r",linewidth=2.0)

# N Dimension Code

In [111]:
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt

# def MDTWDistance(s1, s2, window=10, num_columns=1):
#     DTW={}

#     w = max(window, abs(len(s1)-len(s2)))

#     for i in range(-1,len(s1)):
#         for j in range(-1,len(s2)):
#             DTW[(i, j)] = float('inf')
#     DTW[(-1, -1)] = 0

#     for i in range(len(s1)):
#         for j in range(max(0, i-w), min(len(s2), i+w)):
#             #print "Finding Distance of", s1.loc[i], s2.loc[j]
#             dist= mdist(s1.loc[i], s2.loc[j], num_columns)
#             #print "Dist", dist
#             #print i, j, dist
#             DTW[(i, j)] = dist + min(DTW[(i-1, j)],DTW[(i, j-1)], DTW[(i-1, j-1)])

#     return np.sqrt(DTW[len(s1)-1, len(s2)-1])

# def mdist(a, b, num_col):
#     dist = 0
#     for col in range(num_col):
#         #print "Finding Distance of", a[col], b[col]
#         dist = dist + (a[col]-b[col])**2
#     return dist

# x=np.linspace(0,50,100)
# ts1=pd.Series(3.1*np.sin(x/1.5)+3.5)
# ts2=pd.Series(2.2*np.sin(x/3.5+2.4)+3.2)
# ts3=pd.Series(0.04*x+8.0)
# ts4=pd.Series(0.048*x+8.6)
# ts5=pd.Series(-0.17*x+4.1)
# ts6=pd.Series(-0.14*x+4.5)

# ts1.plot()
# ts2.plot()
# ts3.plot()
# ts4.plot()
# ts5.plot()
# ts6.plot()

# plt.ylim(-4,12)
# plt.legend(['ts1','ts2','ts3','ts4','ts5','ts6'])
# plt.show()

In [69]:
# timeSeries = pd.Panel({0:pd.DataFrame(np.transpose([ts1, ts2])),
#                  1:pd.DataFrame(np.transpose([ts3, ts4])),
#                    2:pd.DataFrame(np.transpose([ts5, ts6]))
#                   })

# print ("0 and 1:",MDTWDistance(timeSeries[0], timeSeries[1],window=10, num_columns=2))
# print ("0 and 2:",MDTWDistance(timeSeries[0], timeSeries[2],window=10, num_columns=2))
# print ("1 and 2:",MDTWDistance(timeSeries[1], timeSeries[2],window=10, num_columns=2))

# Single dimension code

In [60]:
# import numpy as np
# from dtw import dtw

In [61]:
# manhattan_distance = lambda Origianl_test_view, Random_Psuedo_Series: np.abs(Origianl_test_view - Random_Psuedo_Series)

In [62]:
# d, cost_matrix, acc_cost_matrix, path = dtw(Origianl_test_view, Random_Psuedo_Series, dist=manhattan_distance)

In [ ]:
# print(d)

# R Code

In [95]:
# import numpy as np
# import rpy2.robjects.numpy2ri

# rpy2.robjects.numpy2ri.activate()
# from rpy2.robjects.packages import importr
# import rpy2.robjects as robj

In [96]:
# R = rpy2.robjects.r

In [97]:
# dtw = importr("dtw")

In [98]:
# OV = Origianl_test_view
# RV = Random_Psuedo_Series

In [195]:
# # OV
# type(OV)

In [99]:
# rt,ct = Origianl_test_view.shape
# rq,cq = Random_Psuedo_Series.shape


# Origianl_test_view_R = R.matrix(OV,nrow=rt,ncol=ct)
# Random_Psuedo_Series_R = R.matrix(OV,nrow=rq,ncol=cq)

In [101]:
# # Calculate the alignment vector and corresponding distance
# Alignment = R.dtw(Origianl_test_view_R,Random_Psuedo_Series_R
#                   ,keep=True, step_pattern=R.rabinerJuangStepPattern(4,"c")
#                   ,open_begin=True,open_end=True
# )

In [194]:
# dist = Alignment.rx('distance')[0][0]