In [495]:
import numpy as np 
from scipy.io import arff
import pandas as pd

# Creating Training Data view

In [496]:
data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TRAIN.arff')

In [497]:
df_D1 = pd.DataFrame(data1[0])

In [498]:
data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TRAIN.arff')

In [499]:
df_D2 = pd.DataFrame(data2[0])

In [500]:
data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TRAIN.arff')

In [501]:
df_D3 = pd.DataFrame(data3[0])

In [502]:
df_D1.shape

(1422, 183)

In [503]:
df_D2.shape

(1422, 183)

In [504]:
df_D3.shape

(1422, 183)

In [505]:
df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,-0.13015,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.4095,-0.460814,-0.517526,-0.57844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [506]:
df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [507]:
df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,0.071323,0.083973,0.085534,0.078218,0.067093,0.05552,0.043275,0.027787,0.005932,-0.025043,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [508]:
df_D2.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [509]:
df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.899306,1.157239,1.320469,1.369472,1.323889,1.221704,1.098215,0.979016,0.880755,0.806413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [510]:
df_D3.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [511]:
df_D1_T = df_D1.head(1).T

In [512]:
df_D1_T

                      0
channel_0_0    -0.13015
channel_0_1   -0.183121
channel_0_2   -0.234104
channel_0_3   -0.279929
channel_0_4   -0.321851
...                 ...
channel_0_178       NaN
channel_0_179       NaN
channel_0_180       NaN
channel_0_181       NaN
target             b'1'

[183 rows x 1 columns]

In [513]:
df_D2_T = df_D2.head(1).T

In [514]:
df_D2_T

                      0
channel_1_0    0.071323
channel_1_1    0.083973
channel_1_2    0.085534
channel_1_3    0.078218
channel_1_4    0.067093
...                 ...
channel_1_178       NaN
channel_1_179       NaN
channel_1_180       NaN
channel_1_181       NaN
target             b'1'

[183 rows x 1 columns]

In [515]:
df_D3_T = df_D3.head(1).T

In [516]:
df_D3_T

                      0
channel_2_0    0.899306
channel_2_1     1.15724
channel_2_2     1.32047
channel_2_3     1.36947
channel_2_4     1.32389
...                 ...
channel_2_178       NaN
channel_2_179       NaN
channel_2_180       NaN
channel_2_181       NaN
target             b'1'

[183 rows x 1 columns]

In [517]:
arr1 = df_D1_T.to_numpy()
arr2 = df_D2_T.to_numpy()
arr3 = df_D3_T.to_numpy()

In [518]:
finalarray_training_data = np.concatenate((arr1, arr2),axis=1)

In [519]:
finalarray_training_data = np.concatenate((finalarray_training_data, arr3),axis=1)

In [520]:
finalarray_training_data

array([[-0.13015, 0.071323, 0.899306],
       [-0.183121, 0.083973, 1.157239],
       [-0.234104, 0.085534, 1.320469],
       [-0.279929, 0.078218, 1.369472],
       [-0.321851, 0.067093, 1.323889],
       [-0.363783, 0.05552, 1.221704],
       [-0.4095, 0.043275, 1.098215],
       [-0.460814, 0.027787, 0.979016],
       [-0.517526, 0.005932, 0.880755],
       [-0.57844, -0.025043, 0.806413],
       [-0.642335, -0.066984, 0.742138],
       [-0.708369, -0.120483, 0.670647],
       [-0.776037, -0.185363, 0.589337],
       [-0.844799, -0.261646, 0.509148],
       [-0.913359, -0.349528, 0.440515],
       [-0.978872, -0.448135, 0.3894],
       [-1.036865, -0.554524, 0.359572],
       [-1.082398, -0.663956, 0.344563],
       [-1.111614, -0.770916, 0.322058],
       [-1.122168, -0.870061, 0.271962],
       [-1.112322, -0.95681, 0.199647],
       [-1.080184, -1.027564, 0.130489],
       [-1.024236, -1.079644, 0.084365],
       [-0.944604, -1.111149, 0.064815],
       [-0.843469, -1.121016, 0.066682],
       [-0.724226, -1.109332, 0.081823],
       [-0.590649, -1.077545, 0.100159],
       [-0.446936, -1.028084, 0.115267],
       [-0.297932, -0.963634, 0.128232],
       [-0.148794, -0.886796, 0.139693],
       [-0.004546, -0.800359, 0.142104],
       [0.13014, -0.707551, 0.129275],
       [0.251447, -0.611728, 0.109656],
       [0.357344, -0.515526, 0.097602],
       [0.4482, -0.420019, 0.093847],
       [0.526596, -0.324393, 0.087839],
       [0.596567, -0.226183, 0.077505],
       [0.662582, -0.121687, 0.072468],
       [0.728357, -0.006563, 0.076804],
       [0.795736, 0.122791, 0.081033],
       [0.864318, 0.267273, 0.074897],
       [0.932146, 0.424113, 0.060028],
       [0.996691, 0.587763, 0.045914],
       [1.055067, 0.751332, 0.038271],
       [1.103557, 0.907227, 0.035234],
       [1.137583, 1.047542, 0.031682],
       [1.152673, 1.165035, 0.024566],
       [1.145736, 1.254235, 0.017579],
       [1.115602, 1.31195, 0.021401],
       [1.062653, 1.337243, 0.043884],
       [0.988309, 1.33119, 0.081304],
       [0.895041, 1.296259, 0.127452],
       [0.786664, 1.235296, 0.187028],
       [0.668248, 1.150822, 0.265426],
       [0.545463, 1.045354, 0.347009],
       [0.423899, 0.922427, 0.399681],
       [0.308732, 0.787098, 0.402621],
       [0.203901, 0.645131, 0.358832],
       [0.11002, 0.501353, 0.284243],
       [0.023092, 0.35853, 0.197375],
       [-0.062932, 0.217461, 0.117088],
       [-0.151422, 0.077811, 0.057831],
       [-0.241478, -0.061271, 0.023321],
       [-0.33061, -0.201091, 0.007578],
       [-0.417377, -0.343313, 0.001967],
       [-0.501012, -0.489118, 0.000406],
       [-0.579531, -0.637844, 6.6e-05],
       [-0.648897, -0.786177, 9e-06],
       [-0.703882, -0.92854, 1e-06],
       [-0.739634, -1.058438, 0.0],
       [-0.752814, -1.169921, 0.0],
       [-0.7417, -1.258418, 0.0],
       [-0.705559, -1.320743, 0.0],
       [-0.644223, -1.354655, 0.0],
       [-0.558613, -1.358592, 0.0],
       [-0.451547, -1.331774, 0.0],
       [-0.32764, -1.274499, 0.0],
       [-0.192084, -1.188409, 0.0],
       [-0.04927, -1.076564, 0.0],
       [0.097554, -0.943216, 0.0],
       [0.24556, -0.793123, 0.0],
       [0.392077, -0.63058, 0.0],
       [0.535592, -0.45867, -3e-06],
       [0.67652, -0.27926, -2.7e-05],
       [0.816243, -0.093793, -0.000211],
       [0.955036, 0.095611, -0.001319],
       [1.090303, 0.285256, -0.006554],
       [1.215929, 0.469446, -0.026126],
       [1.323005, 0.640665, -0.084246],
       [1.401796, 0.790455, -0.222055],
       [1.44428, 0.910914, -0.484459],
       [1.44668, 0.996456, -0.887331],
       [1.411775, 1.045153, -1.384746],
       [1.350204, 1.059351, -1.86823],
       [1.278833, 1.045773, -2.211818],
       [1.21508, 1.015013, -2.341004],
       [1.169886, 0.979411, -2.2767],
       [1.144527, 0.949175, -2.114594],
       [1.133459, 0.929101, -1.955706],
       [1.129829, 0.918521, -1.851204],
       [1.129001, 0.914082, -1.800501],
       [1.128902, 0.912602, -1.781772],
       [1.128912, 0.91221, -1.776437],
       [1.12892, 0.912128, -1.775257],
       [1.128922, 0.912115, -1.775054],
       [1.128923, 0.912113, -1.775027],
       [1.128921, 0.912112, -1.775021],
       [1.128906, 0.912099, -1.774998],
       [1.128793, 0.912008, -1.77482],
       [1.128121, 0.911465, -1.773763],
       [1.124982, 0.908929, -1.768828],
       [1.113458, 0.899618, -1.750708],
       [1.08015, 0.872707, -1.698337],
       [1.00425, 0.811384, -1.578999],
       [0.867711, 0.701067, -1.364316],
       [0.673591, 0.544228, -1.059098],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [b'1', b'1', b'1']], dtype=object)

In [521]:
finalarray_training_data[:][0]

array([-0.13015, 0.071323, 0.899306], dtype=object)

In [522]:
finalarray_training_data[:][-1]

array([b'1', b'1', b'1'], dtype=object)

In [523]:
dictionary = dict()

In [524]:
dictionary['1'] = finalarray_training_data

In [525]:
dictionary

{'1': array([[-0.13015, 0.071323, 0.899306],
        [-0.183121, 0.083973, 1.157239],
        [-0.234104, 0.085534, 1.320469],
        [-0.279929, 0.078218, 1.369472],
        [-0.321851, 0.067093, 1.323889],
        [-0.363783, 0.05552, 1.221704],
        [-0.4095, 0.043275, 1.098215],
        [-0.460814, 0.027787, 0.979016],
        [-0.517526, 0.005932, 0.880755],
        [-0.57844, -0.025043, 0.806413],
        [-0.642335, -0.066984, 0.742138],
        [-0.708369, -0.120483, 0.670647],
        [-0.776037, -0.185363, 0.589337],
        [-0.844799, -0.261646, 0.509148],
        [-0.913359, -0.349528, 0.440515],
        [-0.978872, -0.448135, 0.3894],
        [-1.036865, -0.554524, 0.359572],
        [-1.082398, -0.663956, 0.344563],
        [-1.111614, -0.770916, 0.322058],
        [-1.122168, -0.870061, 0.271962],
        [-1.112322, -0.95681, 0.199647],
        [-1.080184, -1.027564, 0.130489],
        [-1.024236, -1.079644, 0.084365],
        [-0.944604, -1.111149, 0.064815],
        [-0.843469, -1.121016, 0.066682],
        [-0.724226, -1.109332, 0.081823],
        [-0.590649, -1.077545, 0.100159],
        [-0.446936, -1.028084, 0.115267],
        [-0.297932, -0.963634, 0.128232],
        [-0.148794, -0.886796, 0.139693],
        [-0.004546, -0.800359, 0.142104],
        [0.13014, -0.707551, 0.129275],
        [0.251447, -0.611728, 0.109656],
        [0.357344, -0.515526, 0.097602],
        [0.4482, -0.420019, 0.093847],
        [0.526596, -0.324393, 0.087839],
        [0.596567, -0.226183, 0.077505],
        [0.662582, -0.121687, 0.072468],
        [0.728357, -0.006563, 0.076804],
        [0.795736, 0.122791, 0.081033],
        [0.864318, 0.267273, 0.074897],
        [0.932146, 0.424113, 0.060028],
        [0.996691, 0.587763, 0.045914],
        [1.055067, 0.751332, 0.038271],
        [1.103557, 0.907227, 0.035234],
        [1.137583, 1.047542, 0.031682],
        [1.152673, 1.165035, 0.024566],
        [1.145736, 1.254235, 0.017579],
        [1.115602, 1.31195, 0.021401],
        [1.062653, 1.337243, 0.043884],
        [0.988309, 1.33119, 0.081304],
        [0.895041, 1.296259, 0.127452],
        [0.786664, 1.235296, 0.187028],
        [0.668248, 1.150822, 0.265426],
        [0.545463, 1.045354, 0.347009],
        [0.423899, 0.922427, 0.399681],
        [0.308732, 0.787098, 0.402621],
        [0.203901, 0.645131, 0.358832],
        [0.11002, 0.501353, 0.284243],
        [0.023092, 0.35853, 0.197375],
        [-0.062932, 0.217461, 0.117088],
        [-0.151422, 0.077811, 0.057831],
        [-0.241478, -0.061271, 0.023321],
        [-0.33061, -0.201091, 0.007578],
        [-0.417377, -0.343313, 0.001967],
        [-0.501012, -0.489118, 0.000406],
        [-0.579531, -0.637844, 6.6e-05],
        [-0.648897, -0.786177, 9e-06],
        [-0.703882, -0.92854, 1e-06],
        [-0.739634, -1.058438, 0.0],
        [-0.752814, -1.169921, 0.0],
        [-0.7417, -1.258418, 0.0],
        [-0.705559, -1.320743, 0.0],
        [-0.644223, -1.354655, 0.0],
        [-0.558613, -1.358592, 0.0],
        [-0.451547, -1.331774, 0.0],
        [-0.32764, -1.274499, 0.0],
        [-0.192084, -1.188409, 0.0],
        [-0.04927, -1.076564, 0.0],
        [0.097554, -0.943216, 0.0],
        [0.24556, -0.793123, 0.0],
        [0.392077, -0.63058, 0.0],
        [0.535592, -0.45867, -3e-06],
        [0.67652, -0.27926, -2.7e-05],
        [0.816243, -0.093793, -0.000211],
        [0.955036, 0.095611, -0.001319],
        [1.090303, 0.285256, -0.006554],
        [1.215929, 0.469446, -0.026126],
        [1.323005, 0.640665, -0.084246],
        [1.401796, 0.790455, -0.222055],
        [1.44428, 0.910914, -0.484459],
        [1.44668, 0.996456, -0.887331],
        [1.411775, 1.045153, -1.384746],
        [1.350204, 1.059351, -1.86823],
        [1.278833, 1.045773, -2.211818],
        [1.21508, 1.015013, -2.341004],
        [1.169886, 0.979411, -2.2767],
        [1.144527, 0.949175, -2.114594],
        [1.133459, 0.929101, -1.955706],
        [1.129829, 0.918521, -1.851204],
        [1.129001, 0.914082, -1.800501],
        [1.128902, 0.912602, -1.781772],
        [1.128912, 0.91221, -1.776437],
        [1.12892, 0.912128, -1.775257],
        [1.128922, 0.912115, -1.775054],
        [1.128923, 0.912113, -1.775027],
        [1.128921, 0.912112, -1.775021],
        [1.128906, 0.912099, -1.774998],
        [1.128793, 0.912008, -1.77482],
        [1.128121, 0.911465, -1.773763],
        [1.124982, 0.908929, -1.768828],
        [1.113458, 0.899618, -1.750708],
        [1.08015, 0.872707, -1.698337],
        [1.00425, 0.811384, -1.578999],
        [0.867711, 0.701067, -1.364316],
        [0.673591, 0.544228, -1.059098],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [nan, nan, nan],
        [b'1', b'1', b'1']], dtype=object)}

# Making Original Test View

In [526]:
Test_data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TEST.arff')

In [527]:
Test_df_D1 = pd.DataFrame(Test_data1[0])

In [528]:
Test_data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TEST.arff')

In [529]:
Test_df_D2 = pd.DataFrame(Test_data2[0])

In [530]:
Test_data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TEST.arff')

In [531]:
Test_df_D3 = pd.DataFrame(Test_data3[0])

In [532]:
print(Test_df_D1.shape)
print(Test_df_D2.shape)
print(Test_df_D3.shape)

(1436, 183)
(1436, 183)
(1436, 183)

In [533]:
Test_df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,0.043915,0.033922,0.007255,-0.030362,-0.069213,-0.101034,-0.123061,-0.138499,-0.153547,-0.173622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [534]:
Test_df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [535]:
Test_df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,-0.010011,-0.004357,0.005951,0.018295,0.029589,0.038164,0.044259,0.048942,0.052885,0.056265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [536]:
Test_df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.536491,0.76718,0.993862,1.184721,1.31248,1.360485,1.32964,1.241397,1.13202,1.03714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [537]:
Test_df_D1_T = Test_df_D1.head(1).T
Test_df_D2_T = Test_df_D2.head(1).T
Test_df_D3_T = Test_df_D3.head(1).T

In [538]:
Test_arr1 = Test_df_D1_T.to_numpy()
Test_arr2 = Test_df_D2_T.to_numpy()
Test_arr3 = Test_df_D3_T.to_numpy()

In [539]:
finalarray_test_data = np.concatenate((Test_arr1, Test_arr2),axis=1)

In [540]:
finalarray_test_data = np.concatenate((finalarray_test_data, Test_arr3),axis=1)

In [541]:
Origianl_test_view = finalarray_test_data

In [542]:
Origianl_test_view

array([[0.043915, -0.010011, 0.536491],
       [0.033922, -0.004357, 0.76718],
       [0.007255, 0.005951, 0.993862],
       [-0.030362, 0.018295, 1.184721],
       [-0.069213, 0.029589, 1.31248],
       [-0.101034, 0.038164, 1.360485],
       [-0.123061, 0.044259, 1.32964],
       [-0.138499, 0.048942, 1.241397],
       [-0.153547, 0.052885, 1.13202],
       [-0.173622, 0.056265, 1.03714],
       [-0.201387, 0.059159, 0.973526],
       [-0.236853, 0.061321, 0.932379],
       [-0.278391, 0.061678, 0.891567],
       [-0.323717, 0.058629, 0.835669],
       [-0.370581, 0.05106, 0.766526],
       [-0.417049, 0.038811, 0.698832],
       [-0.461461, 0.022059, 0.64632],
       [-0.502443, 0.000726, 0.608541],
       [-0.539417, -0.025113, 0.57104],
       [-0.573203, -0.054538, 0.521223],
       [-0.605837, -0.085954, 0.46093],
       [-0.639575, -0.117873, 0.399694],
       [-0.676042, -0.149349, 0.342708],
       [-0.716054, -0.179872, 0.293879],
       [-0.75975, -0.209258, 0.263589],
       [-0.806686, -0.23794, 0.259673],
       [-0.855986, -0.267409, 0.271352],
       [-0.906497, -0.300147, 0.273023],
       [-0.956614, -0.338782, 0.246407],
       [-1.003785, -0.385112, 0.194218],
       [-1.044348, -0.439809, 0.133204],
       [-1.074077, -0.502573, 0.079552],
       [-1.088916, -0.571986, 0.041182],
       [-1.085134, -0.644966, 0.018256],
       [-1.059091, -0.716624, 0.006814],
       [-1.007412, -0.781201, 0.002104],
       [-0.927924, -0.83374, 0.000529],
       [-0.820883, -0.871316, 0.000107],
       [-0.689741, -0.892949, 1.7e-05],
       [-0.540904, -0.898687, 2e-06],
       [-0.382308, -0.888985, 0.0],
       [-0.221263, -0.864803, 0.0],
       [-0.062844, -0.827671, 0.0],
       [0.089813, -0.779205, 0.0],
       [0.233857, -0.72041, 0.0],
       [0.366412, -0.651543, 0.0],
       [0.486553, -0.572672, 0.0],
       [0.596768, -0.484367, 0.0],
       [0.701476, -0.387891, 0.0],
       [0.804017, -0.284805, 0.0],
       [0.904899, -0.176441, 0.0],
       [1.001947, -0.063858, 0.0],
       [1.091215, 0.051455, 0.0],
       [1.167793, 0.166996, 0.0],
       [1.22655, 0.279917, 0.0],
       [1.263161, 0.38832, 0.0],
       [1.275443, 0.491464, 0.0],
       [1.264252, 0.588753, 0.0],
       [1.233092, 0.67906, 0.0],
       [1.186715, 0.761029, 0.0],
       [1.129887, 0.833621, 0.0],
       [1.066841, 0.896264, 0.0],
       [1.000967, 0.948746, 0.0],
       [0.934415, 0.991127, 0.0],
       [0.867934, 1.023655, 0.0],
       [0.801281, 1.046532, 0.0],
       [0.73402, 1.059519, 0.0],
       [0.666262, 1.061624, 0.0],
       [0.598923, 1.051129, 0.0],
       [0.53328, 1.025921, 0.0],
       [0.470109, 0.98395, 0.0],
       [0.40919, 0.923731, 0.0],
       [0.349558, 0.844987, 0.0],
       [0.290083, 0.749373, 0.0],
       [0.230008, 0.640895, 0.0],
       [0.169431, 0.525353, 0.0],
       [0.109232, 0.408622, 0.0],
       [0.049748, 0.294602, 0.0],
       [-0.011013, 0.184133, 0.0],
       [-0.077269, 0.075656, 0.0],
       [-0.152822, -0.032932, 0.0],
       [-0.238447, -0.142835, 0.0],
       [-0.331686, -0.254381, 0.0],
       [-0.428161, -0.367648, 0.0],
       [-0.522589, -0.482268, 0.0],
       [-0.609425, -0.59646, 0.0],
       [-0.683699, -0.70661, 0.0],
       [-0.741873, -0.808159, 0.0],
       [-0.782362, -0.897263, 0.0],
       [-0.805555, -0.972103, 0.0],
       [-0.813052, -1.033026, 0.0],
       [-0.80652, -1.081585, 0.0],
       [-0.787178, -1.119226, 0.0],
       [-0.755941, -1.146383, 0.0],
       [-0.713146, -1.162243, 0.0],
       [-0.657745, -1.164956, 0.0],
       [-0.587264, -1.151963, 0.0],
       [-0.49933, -1.120424, 0.0],
       [-0.393536, -1.067905, 0.0],
       [-0.271964, -0.99322, 0.0],
       [-0.138201, -0.896901, 0.0],
       [0.003921, -0.780931, 0.0],
       [0.150917, -0.64802, 0.0],
       [0.299655, -0.501096, 0.0],
       [0.447246, -0.343406, 0.0],
       [0.590895, -0.179044, 0.0],
       [0.727505, -0.013296, 0.0],
       [0.853056, 0.147727, 0.0],
       [0.962336, 0.298049, 0.0],
       [1.049581, 0.432752, 0.0],
       [1.109779, 0.548347, 0.0],
       [1.139787, 0.64264, -5e-06],
       [1.138699, 0.714601, -5e-05],
       [1.107613, 0.764666, -0.000386],
       [1.049166, 0.795205, -0.002358],
       [0.96717, 0.810322, -0.011531],
       [0.866545, 0.814601, -0.045348],
       [0.75347, 0.811552, -0.144251],
       [0.635331, 0.802803, -0.37368],
       [0.520174, 0.788423, -0.794489],
       [0.416165, 0.767992, -1.398876],
       [0.331232, 0.741866, -2.061788],
       [0.27169, 0.712147, -2.580301],
       [0.239253, 0.682702, -2.80053],
       [0.228975, 0.657823, -2.724042],
       [0.231323, 0.640213, -2.489014],
       [0.237279, 0.629916, -2.252707],
       [0.241941, 0.624993, -2.096416],
       [0.244337, 0.623085, -2.020611],
       [0.245239, 0.622488, -1.992669],
       [0.245498, 0.622339, -1.984727],
       [0.245555, 0.622309, -1.982975],
       [0.245565, 0.622304, -1.982674],
       [0.245566, 0.622304, -1.982633],
       [0.245566, 0.622303, -1.982626],
       [0.245563, 0.622294, -1.9826],
       [0.245538, 0.622232, -1.982401],
       [0.245392, 0.621862, -1.981221],
       [0.244709, 0.620131, -1.975708],
       [0.242202, 0.613779, -1.955469],
       [0.234957, 0.595418, -1.896973],
       [0.218447, 0.55358, -1.763677],
       [0.188747, 0.478314, -1.523885],
       [0.146521, 0.371308, -1.182969],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [nan, nan, nan],
       [b'1', b'1', b'1']], dtype=object)

# Random Time Series

For creating RTS, the start and end point, will take from test data view and in between the points would be random from Training Data

In [543]:
Starting_point = Origianl_test_view[:][0:1]
End_point = Origianl_test_view[:][182:183]

In [544]:
copy_of_training_view = finalarray_training_data

In [549]:
training_slice_1 = copy_of_training_view[:][1:46]
training_slice_2 = copy_of_training_view[:][46:92]
training_slice_3 = copy_of_training_view[:][92:136]
training_slice_4 = copy_of_training_view[:][137:183]

In [550]:
print(training_slice_1.shape)
print(training_slice_2.shape)
print(training_slice_3.shape)
print(training_slice_4.shape)

(45, 3)
(46, 3)
(44, 3)
(46, 3)

In [551]:
Random_Psuedo_Series = np.concatenate((Starting_point, training_slice_1),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, training_slice_4),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, training_slice_3),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, training_slice_2),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, End_point),axis=0)

In [552]:
Random_Psuedo_Series.shape

(183, 3)