In [126]:
import numpy as np 
from scipy.io import arff
import pandas as pd

# Creating Training Data view

In [127]:
data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TRAIN.arff')

In [128]:
df_D1 = pd.DataFrame(data1[0])

In [129]:
data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TRAIN.arff')

In [130]:
df_D2 = pd.DataFrame(data2[0])

In [131]:
data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TRAIN.arff')

In [132]:
df_D3 = pd.DataFrame(data3[0])

In [133]:
print(df_D1.shape)
print(df_D2.shape)
print(df_D3.shape)

(1422, 183)
(1422, 183)
(1422, 183)

In [134]:
df_D1 =df_D1.apply(lambda x : x.fillna(method='ffill'), axis=1) 
df_D2 =df_D2.apply(lambda x : x.fillna(method='ffill'), axis=1)
df_D3 =df_D3.apply(lambda x : x.fillna(method='ffill'), axis=1)

In [135]:
df_D1 = df_D1.drop('target', axis=1)
df_D2 = df_D2.drop('target', axis=1)
df_D3 = df_D3.drop('target', axis=1)

In [136]:
print(df_D1.shape)
print(df_D2.shape)
print(df_D3.shape)

(1422, 182)
(1422, 182)
(1422, 182)

In [137]:
df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
0,-0.13015,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.4095,-0.460814,-0.517526,-0.57844,...,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591

In [138]:
df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_172,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181
0,0.071323,0.083973,0.085534,0.078218,0.067093,0.05552,0.043275,0.027787,0.005932,-0.025043,...,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228

In [139]:
df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_172,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181
0,0.899306,1.157239,1.320469,1.369472,1.323889,1.221704,1.098215,0.979016,0.880755,0.806413,...,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098

In [140]:
df_D1_T = df_D1.head(1).T
df_D2_T = df_D2.head(1).T
df_D3_T = df_D3.head(1).T

In [141]:
arr1 = df_D1_T.to_numpy()
arr2 = df_D2_T.to_numpy()
arr3 = df_D3_T.to_numpy()

In [142]:
finalarray_training_data = np.concatenate((arr1, arr2),axis=1)

In [143]:
finalarray_training_dataV = np.concatenate((finalarray_training_data, arr3),axis=1)

Getting Row2 D1-D3

In [144]:
df_D1_Row2 = df_D1.head(2)
df_D2_Row2 = df_D2.head(2)
df_D3_Row2 = df_D3.head(2)

In [145]:
df_D1_Row2 = df_D1_Row2.drop(df_D1_Row2.index[0]).T
df_D2_Row2 = df_D2_Row2.drop(df_D2_Row2.index[0]).T
df_D3_Row2 = df_D3_Row2.drop(df_D3_Row2.index[0]).T

In [146]:
arr4 = df_D1_Row2
arr5 = df_D2_Row2
arr6 = df_D3_Row2

In [147]:
finalarray_training_data_row2 = np.concatenate((arr4, arr5),axis=1)

In [148]:
finalarray_training_data_row2 = np.concatenate((finalarray_training_data_row2, arr6),axis=1)

Getting Row3 D1-D3

In [149]:
df_D1_Row3 = df_D1.head(3)
df_D2_Row3 = df_D2.head(3)
df_D3_Row3 = df_D3.head(3)

In [150]:
df_D1_Row3

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
0,-0.130150,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.409500,-0.460814,-0.517526,-0.578440,...,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591
1,-0.085541,-0.114704,-0.141445,-0.166160,-0.191072,-0.218434,-0.249653,-0.285248,-0.325004,-0.368095,...,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218
2,-0.026161,-0.037501,-0.048952,-0.061438,-0.077020,-0.097312,-0.122992,-0.154525,-0.192382,-0.236238,...,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342

In [151]:
df_D1_Row3 = df_D1_Row3.drop(df_D1_Row3.index[0:2])
df_D2_Row3 = df_D2_Row3.drop(df_D2_Row3.index[0:2])
df_D3_Row3 = df_D3_Row3.drop(df_D3_Row3.index[0:2])

In [152]:
df_D1_Row3

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
2,-0.026161,-0.037501,-0.048952,-0.061438,-0.07702,-0.097312,-0.122992,-0.154525,-0.192382,-0.236238,...,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342

In [153]:
df_D2_Row3

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_172,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181
2,0.053789,0.074516,0.094246,0.111463,0.125568,0.136576,0.144678,0.149621,0.150365,0.145481,...,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818

In [154]:
df_D3_Row3

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_172,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181
2,0.617474,0.790598,0.919484,1.005883,1.059747,1.084251,1.078967,1.049666,1.005971,0.950621,...,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227

In [155]:
df_D1_Row3 = df_D1_Row3.T
df_D2_Row3 = df_D2_Row3.T
df_D3_Row3 = df_D3_Row3.T

In [156]:
arr7 = df_D1_Row3
arr8 = df_D2_Row3
arr9 = df_D3_Row3

In [157]:
finalarray_training_data_row3 = np.concatenate((arr7, arr8),axis=1)

In [158]:
finalarray_training_data_row3 = np.concatenate((finalarray_training_data_row3, arr9),axis=1)

In [159]:
finalarray_training_data_row3

array([[-2.616100e-02,  5.378900e-02,  6.174740e-01],
       [-3.750100e-02,  7.451600e-02,  7.905980e-01],
       [-4.895200e-02,  9.424600e-02,  9.194840e-01],
       [-6.143800e-02,  1.114630e-01,  1.005883e+00],
       [-7.702000e-02,  1.255680e-01,  1.059747e+00],
       [-9.731200e-02,  1.365760e-01,  1.084251e+00],
       [-1.229920e-01,  1.446780e-01,  1.078967e+00],
       [-1.545250e-01,  1.496210e-01,  1.049666e+00],
       [-1.923820e-01,  1.503650e-01,  1.005971e+00],
       [-2.362380e-01,  1.454810e-01,  9.506210e-01],
       [-2.844950e-01,  1.339340e-01,  8.792990e-01],
       [-3.348920e-01,  1.155940e-01,  7.916090e-01],
       [-3.854200e-01,  9.152500e-02,  6.944930e-01],
       [-4.345760e-01,  6.411100e-02,  5.957790e-01],
       [-4.811160e-01,  3.626900e-02,  5.037160e-01],
       [-5.240150e-01,  9.617000e-03,  4.299710e-01],
       [-5.628080e-01, -1.657100e-02,  3.805700e-01],
       [-5.977900e-01, -4.397800e-02,  3.452090e-01],
       [-6.297600e-01, -7.291500e-02,  3.075210e-01],
       [-6.596050e-01, -1.019420e-01,  2.662010e-01],
       [-6.880110e-01, -1.296550e-01,  2.361670e-01],
       [-7.152680e-01, -1.561900e-01,  2.282070e-01],
       [-7.410030e-01, -1.830120e-01,  2.356930e-01],
       [-7.639430e-01, -2.117410e-01,  2.413250e-01],
       [-7.820290e-01, -2.432280e-01,  2.284500e-01],
       [-7.930520e-01, -2.774030e-01,  1.866290e-01],
       [-7.953430e-01, -3.138150e-01,  1.178720e-01],
       [-7.878760e-01, -3.523150e-01,  4.193800e-02],
       [-7.698640e-01, -3.931470e-01, -1.256200e-02],
       [-7.406550e-01, -4.363980e-01, -2.926400e-02],
       [-7.002570e-01, -4.815510e-01, -1.550100e-02],
       [-6.498960e-01, -5.277440e-01,  7.672000e-03],
       [-5.918840e-01, -5.744280e-01,  2.343900e-02],
       [-5.288810e-01, -6.216210e-01,  2.768400e-02],
       [-4.631540e-01, -6.693600e-01,  2.571600e-02],
       [-3.961600e-01, -7.168360e-01,  2.407300e-02],
       [-3.284620e-01, -7.620360e-01,  2.391900e-02],
       [-2.601250e-01, -8.021980e-01,  2.118800e-02],
       [-1.917410e-01, -8.345200e-01,  1.270900e-02],
       [-1.251860e-01, -8.563910e-01, -1.940000e-04],
       [-6.271500e-02, -8.650850e-01, -1.464100e-02],
       [-4.844000e-03, -8.576730e-01, -2.878600e-02],
       [ 5.029900e-02, -8.318640e-01, -3.958600e-02],
       [ 1.050000e-01, -7.873590e-01, -4.152100e-02],
       [ 1.597840e-01, -7.263420e-01, -3.059500e-02],
       [ 2.135950e-01, -6.525250e-01, -9.313000e-03],
       [ 2.656630e-01, -5.695410e-01,  1.277000e-02],
       [ 3.168770e-01, -4.799690e-01,  2.456700e-02],
       [ 3.698210e-01, -3.852400e-01,  2.242400e-02],
       [ 4.278520e-01, -2.856200e-01,  1.398000e-02],
       [ 4.937930e-01, -1.798460e-01,  1.015900e-02],
       [ 5.687810e-01, -6.523800e-02,  1.304900e-02],
       [ 6.518150e-01,  6.080600e-02,  1.459600e-02],
       [ 7.400440e-01,  1.985890e-01,  6.783000e-03],
       [ 8.291880e-01,  3.449320e-01, -1.043000e-02],
       [ 9.137570e-01,  4.938210e-01, -2.983400e-02],
       [ 9.875660e-01,  6.379660e-01, -4.047700e-02],
       [ 1.044891e+00,  7.700420e-01, -3.174200e-02],
       [ 1.081567e+00,  8.833640e-01, -6.290000e-04],
       [ 1.095467e+00,  9.725310e-01,  4.326600e-02],
       [ 1.086760e+00,  1.034469e+00,  8.316900e-02],
       [ 1.058215e+00,  1.069386e+00,  1.072090e-01],
       [ 1.014972e+00,  1.080810e+00,  1.152490e-01],
       [ 9.632660e-01,  1.074543e+00,  1.149350e-01],
       [ 9.085480e-01,  1.057136e+00,  1.128130e-01],
       [ 8.540810e-01,  1.034381e+00,  1.099670e-01],
       [ 8.007920e-01,  1.010024e+00,  1.047930e-01],
       [ 7.480520e-01,  9.850250e-01,  9.792100e-02],
       [ 6.943700e-01,  9.577660e-01,  9.446000e-02],
       [ 6.375620e-01,  9.252560e-01,  1.027300e-01],
       [ 5.749300e-01,  8.845530e-01,  1.297900e-01],
       [ 5.039820e-01,  8.334210e-01,  1.756420e-01],
       [ 4.233970e-01,  7.701880e-01,  2.316880e-01],
       [ 3.335210e-01,  6.937220e-01,  2.856060e-01],
       [ 2.360110e-01,  6.040270e-01,  3.259470e-01],
       [ 1.329660e-01,  5.027370e-01,  3.427470e-01],
       [ 2.648300e-02,  3.926780e-01,  3.308360e-01],
       [-8.075600e-02,  2.765520e-01,  2.961850e-01],
       [-1.847390e-01,  1.557600e-01,  2.540460e-01],
       [-2.806720e-01,  3.043600e-02,  2.180740e-01],
       [-3.643820e-01, -9.896600e-02,  1.935480e-01],
       [-4.328180e-01, -2.297240e-01,  1.792350e-01],
       [-4.834830e-01, -3.566320e-01,  1.707810e-01],
       [-5.142450e-01, -4.737730e-01,  1.619210e-01],
       [-5.238630e-01, -5.762750e-01,  1.459900e-01],
       [-5.123920e-01, -6.606030e-01,  1.194160e-01],
       [-4.812230e-01, -7.243360e-01,  8.503700e-02],
       [-4.332090e-01, -7.666850e-01,  5.106800e-02],
       [-3.729030e-01, -7.894260e-01,  2.538900e-02],
       [-3.063300e-01, -7.970450e-01,  1.062600e-02],
       [-2.399760e-01, -7.956270e-01,  4.515000e-03],
       [-1.794780e-01, -7.911840e-01,  3.330000e-03],
       [-1.288000e-01, -7.884830e-01,  3.992000e-03],
       [-8.998900e-02, -7.907470e-01,  4.438000e-03],
       [-6.311000e-02, -7.996580e-01,  3.816000e-03],
       [-4.628100e-02, -8.152110e-01,  2.481000e-03],
       [-3.604400e-02, -8.355380e-01,  1.202000e-03],
       [-2.842300e-02, -8.570780e-01,  3.280000e-04],
       [-2.055700e-02, -8.750210e-01, -3.550000e-04],
       [-1.144400e-02, -8.838630e-01, -1.355000e-03],
       [-5.300000e-04, -8.782010e-01, -3.252000e-03],
       [ 1.437000e-02, -8.538190e-01, -6.910000e-03],
       [ 3.690000e-02, -8.086280e-01, -1.437900e-02],
       [ 6.939900e-02, -7.428910e-01, -2.964300e-02],
       [ 1.105270e-01, -6.588240e-01, -5.671400e-02],
       [ 1.559440e-01, -5.600460e-01, -9.463900e-02],
       [ 2.011570e-01, -4.509570e-01, -1.350900e-01],
       [ 2.435380e-01, -3.358430e-01, -1.679730e-01],
       [ 2.822960e-01, -2.179690e-01, -1.903870e-01],
       [ 3.175520e-01, -9.929900e-02, -2.101420e-01],
       [ 3.496240e-01,  1.886600e-02, -2.449020e-01],
       [ 3.786880e-01,  1.349770e-01, -3.212610e-01],
       [ 4.048260e-01,  2.469690e-01, -4.677190e-01],
       [ 4.284180e-01,  3.526360e-01, -6.999240e-01],
       [ 4.501560e-01,  4.496560e-01, -1.014695e+00],
       [ 4.699930e-01,  5.347220e-01, -1.398120e+00],
       [ 4.858520e-01,  6.026970e-01, -1.823057e+00],
       [ 4.939680e-01,  6.474970e-01, -2.227935e+00],
       [ 4.914490e-01,  6.653450e-01, -2.518158e+00],
       [ 4.790930e-01,  6.586160e-01, -2.620750e+00],
       [ 4.616800e-01,  6.366160e-01, -2.545762e+00],
       [ 4.452010e-01,  6.114350e-01, -2.381151e+00],
       [ 4.334820e-01,  5.918540e-01, -2.224009e+00],
       [ 4.270100e-01,  5.804400e-01, -2.122476e+00],
       [ 4.242030e-01,  5.753040e-01, -2.073999e+00],
       [ 4.232430e-01,  5.735020e-01, -2.056357e+00],
       [ 4.229850e-01,  5.730060e-01, -2.051397e+00],
       [ 4.229300e-01,  5.728990e-01, -2.050313e+00],
       [ 4.229210e-01,  5.728810e-01, -2.050128e+00],
       [ 4.229200e-01,  5.728790e-01, -2.050103e+00],
       [ 4.229190e-01,  5.728780e-01, -2.050098e+00],
       [ 4.229140e-01,  5.728700e-01, -2.050071e+00],
       [ 4.228710e-01,  5.728130e-01, -2.049865e+00],
       [ 4.226190e-01,  5.724720e-01, -2.048645e+00],
       [ 4.214430e-01,  5.708790e-01, -2.042944e+00],
       [ 4.171260e-01,  5.650310e-01, -2.022016e+00],
       [ 4.046480e-01,  5.481280e-01, -1.961529e+00],
       [ 3.762150e-01,  5.096130e-01, -1.823698e+00],
       [ 3.250640e-01,  4.403250e-01, -1.575745e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00],
       [ 2.523420e-01,  3.418180e-01, -1.223227e+00]])

In [154]:
# # getting col


# replace_Val = 0
# i = 0
# NullValue = 'NaN'
# for i in range(181):
#     as_string = str(i)
#     VAR =  X['channel_0_' + as_string]
#     if np.isnan(VAR[0]):
#         as_integer = int(i)
#         VAR = VAR.replace([VAR[0]],replace_Val)
# #         VAR[0] = VAR[0]-1
#         print(VAR[0])
#     else:
#         replace_Val = VAR[0]