In [162]:
import numpy as np 
from scipy.io import arff
import pandas as pd

# Pre- Steps

In [163]:
data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TRAIN.arff')

In [164]:
df_D1 = pd.DataFrame(data1[0])

In [165]:
data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TRAIN.arff')

In [166]:
df_D2 = pd.DataFrame(data2[0])

In [167]:
data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TRAIN.arff')

In [168]:
df_D3 = pd.DataFrame(data3[0])

In [169]:
print(df_D1.shape)
print(df_D2.shape)
print(df_D3.shape)

(1422, 183)
(1422, 183)
(1422, 183)

In [170]:
df_D1 =df_D1.apply(lambda x : x.fillna(method='ffill'), axis=1) 
df_D2 =df_D2.apply(lambda x : x.fillna(method='ffill'), axis=1)
df_D3 =df_D3.apply(lambda x : x.fillna(method='ffill'), axis=1)

In [171]:
df_D1 = df_D1.drop('target', axis=1)
df_D2 = df_D2.drop('target', axis=1)
df_D3 = df_D3.drop('target', axis=1)

In [172]:
print(df_D1.shape)
print(df_D2.shape)
print(df_D3.shape)

(1422, 182)
(1422, 182)
(1422, 182)

In [173]:
df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
0,-0.13015,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.4095,-0.460814,-0.517526,-0.57844,...,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591

In [174]:
df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_172,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181
0,0.071323,0.083973,0.085534,0.078218,0.067093,0.05552,0.043275,0.027787,0.005932,-0.025043,...,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228

In [175]:
df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_172,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181
0,0.899306,1.157239,1.320469,1.369472,1.323889,1.221704,1.098215,0.979016,0.880755,0.806413,...,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098

In [176]:
df_D1_T = df_D1.head(1).T
df_D2_T = df_D2.head(1).T
df_D3_T = df_D3.head(1).T

In [177]:
arr1 = df_D1_T.to_numpy()
arr2 = df_D2_T.to_numpy()
arr3 = df_D3_T.to_numpy()

In [178]:
finalarray_training_data = np.concatenate((arr1, arr2),axis=1)

In [179]:
finalarray_training_data = np.concatenate((finalarray_training_data, arr3),axis=1)

Getting Row2 D1-D3

In [180]:
df_D1_Row2 = df_D1.head(2)
df_D2_Row2 = df_D2.head(2)
df_D3_Row2 = df_D3.head(2)

In [181]:
df_D1_Row2 = df_D1_Row2.drop(df_D1_Row2.index[0]).T
df_D2_Row2 = df_D2_Row2.drop(df_D2_Row2.index[0]).T
df_D3_Row2 = df_D3_Row2.drop(df_D3_Row2.index[0]).T

In [182]:
arr4 = df_D1_Row2
arr5 = df_D2_Row2
arr6 = df_D3_Row2

In [183]:
finalarray_training_data_row2 = np.concatenate((arr4, arr5),axis=1)

In [184]:
finalarray_training_data_row2 = np.concatenate((finalarray_training_data_row2, arr6),axis=1)

Getting Row3 D1-D3

In [185]:
df_D1_Row3 = df_D1.head(3)
df_D2_Row3 = df_D2.head(3)
df_D3_Row3 = df_D3.head(3)

In [186]:
df_D1_Row3

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
0,-0.130150,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.409500,-0.460814,-0.517526,-0.578440,...,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591
1,-0.085541,-0.114704,-0.141445,-0.166160,-0.191072,-0.218434,-0.249653,-0.285248,-0.325004,-0.368095,...,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218
2,-0.026161,-0.037501,-0.048952,-0.061438,-0.077020,-0.097312,-0.122992,-0.154525,-0.192382,-0.236238,...,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342

In [187]:
df_D1_Row3 = df_D1_Row3.drop(df_D1_Row3.index[0:2])
df_D2_Row3 = df_D2_Row3.drop(df_D2_Row3.index[0:2])
df_D3_Row3 = df_D3_Row3.drop(df_D3_Row3.index[0:2])

In [188]:
df_D1_Row3

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
2,-0.026161,-0.037501,-0.048952,-0.061438,-0.07702,-0.097312,-0.122992,-0.154525,-0.192382,-0.236238,...,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342

In [189]:
df_D2_Row3

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_172,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181
2,0.053789,0.074516,0.094246,0.111463,0.125568,0.136576,0.144678,0.149621,0.150365,0.145481,...,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818

In [190]:
df_D3_Row3

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_172,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181
2,0.617474,0.790598,0.919484,1.005883,1.059747,1.084251,1.078967,1.049666,1.005971,0.950621,...,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227

In [191]:
df_D1_Row3 = df_D1_Row3.T
df_D2_Row3 = df_D2_Row3.T
df_D3_Row3 = df_D3_Row3.T

In [192]:
arr7 = df_D1_Row3
arr8 = df_D2_Row3
arr9 = df_D3_Row3

In [193]:
finalarray_training_data_row3 = np.concatenate((arr7, arr8),axis=1)

In [194]:
finalarray_training_data_row3 = np.concatenate((finalarray_training_data_row3, arr9),axis=1)

In [196]:
Row1 = np.copy(finalarray_training_data)
Row2 = np.copy(finalarray_training_data_row2)
Row3 = np.copy(finalarray_training_data_row3)

In [198]:
Final_View = np.concatenate((Row1, Row2),axis=0)

In [199]:
Final_View = np.concatenate((Final_View, Row3),axis=0)

In [202]:
Final_View.shape

(546, 3)

In [154]:
# # getting col


# replace_Val = 0
# i = 0
# NullValue = 'NaN'
# for i in range(181):
#     as_string = str(i)
#     VAR =  X['channel_0_' + as_string]
#     if np.isnan(VAR[0]):
#         as_integer = int(i)
#         VAR = VAR.replace([VAR[0]],replace_Val)
# #         VAR[0] = VAR[0]-1
#         print(VAR[0])
#     else:
#         replace_Val = VAR[0]