In [423]:
import numpy as np 
from scipy.io import arff
import pandas as pd

# Creating Training Data view

In [424]:
data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TRAIN.arff')

In [425]:
df_D1 = pd.DataFrame(data1[0])

In [426]:
data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TRAIN.arff')

In [427]:
df_D2 = pd.DataFrame(data2[0])

In [428]:
data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TRAIN.arff')

In [429]:
df_D3 = pd.DataFrame(data3[0])

In [430]:
df_D1.shape

(1422, 183)

In [431]:
df_D2.shape

(1422, 183)

In [432]:
df_D3.shape

(1422, 183)

In [433]:
df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,-0.13015,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.4095,-0.460814,-0.517526,-0.57844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [434]:
df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [435]:
df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,0.071323,0.083973,0.085534,0.078218,0.067093,0.05552,0.043275,0.027787,0.005932,-0.025043,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [436]:
df_D2.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [437]:
df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.899306,1.157239,1.320469,1.369472,1.323889,1.221704,1.098215,0.979016,0.880755,0.806413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [438]:
df_D3.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [439]:
df_D1 = df_D1.fillna(0)
df_D2 = df_D2.fillna(0)
df_D3 = df_D3.fillna(0)

In [440]:
df_D1_T = df_D1.head(1).T

In [441]:
df_D2_T = df_D2.head(1).T

In [442]:
df_D3_T = df_D3.head(1).T

In [443]:
arr1 = df_D1_T.to_numpy()
arr2 = df_D2_T.to_numpy()
arr3 = df_D3_T.to_numpy()

In [444]:
finalarray_training_data = np.concatenate((arr1, arr2),axis=1)

In [445]:
finalarray_training_data = np.concatenate((finalarray_training_data, arr3),axis=1)

In [446]:
df_D1_Row2 = df_D1.head(2)
df_D2_Row2 = df_D2.head(2)
df_D3_Row2 = df_D3.head(2)

In [447]:
df_D1_Row2 = df_D1_Row2.drop(df_D1_Row2.index[0]).T
df_D2_Row2 = df_D2_Row2.drop(df_D2_Row2.index[0]).T
df_D3_Row2 = df_D3_Row2.drop(df_D3_Row2.index[0]).T

In [448]:
arr4 = df_D1_Row2
arr5 = df_D2_Row2
arr6 = df_D3_Row2

In [449]:
finalarray_training_data_row2 = np.concatenate((arr4, arr5),axis=1)

In [450]:
finalarray_training_data_row2 = np.concatenate((finalarray_training_data_row2, arr6),axis=1)

In [451]:
finalarray_training_data[:][0]

array([-0.13015, 0.071323, 0.899306], dtype=object)

In [452]:
finalarray_training_data[:][-1]

array([b'1', b'1', b'1'], dtype=object)

In [453]:
dictionary = dict()

In [454]:
dictionary['1'] = finalarray_training_data

In [455]:
dictionary['2'] = finalarray_training_data_row2

# Making Original Test View

In [456]:
Test_data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TEST.arff')

In [457]:
Test_df_D1 = pd.DataFrame(Test_data1[0])

In [458]:
Test_data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TEST.arff')

In [459]:
Test_df_D2 = pd.DataFrame(Test_data2[0])

In [460]:
Test_data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TEST.arff')

In [461]:
Test_df_D3 = pd.DataFrame(Test_data3[0])

In [462]:
print(Test_df_D1.shape)
print(Test_df_D2.shape)
print(Test_df_D3.shape)

(1436, 183)
(1436, 183)
(1436, 183)

In [463]:
Test_df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,0.043915,0.033922,0.007255,-0.030362,-0.069213,-0.101034,-0.123061,-0.138499,-0.153547,-0.173622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [464]:
Test_df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [465]:
Test_df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,-0.010011,-0.004357,0.005951,0.018295,0.029589,0.038164,0.044259,0.048942,0.052885,0.056265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [466]:
Test_df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.536491,0.76718,0.993862,1.184721,1.31248,1.360485,1.32964,1.241397,1.13202,1.03714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [467]:
Test_df_D1_T = Test_df_D1.head(1).T
Test_df_D2_T = Test_df_D2.head(1).T
Test_df_D3_T = Test_df_D3.head(1).T

In [468]:
Test_df_D1_T=Test_df_D1_T.fillna(0)
Test_df_D2_T=Test_df_D2_T.fillna(0)
Test_df_D3_T=Test_df_D2_T.fillna(0)

In [469]:
Test_arr1 = Test_df_D1_T.to_numpy()
Test_arr2 = Test_df_D2_T.to_numpy()
Test_arr3 = Test_df_D3_T.to_numpy()

In [470]:
finalarray_test_data = np.concatenate((Test_arr1, Test_arr2),axis=1)

In [471]:
finalarray_test_data = np.concatenate((finalarray_test_data, Test_arr3),axis=1)

In [472]:
Origianl_test_view = finalarray_test_data

# Partial Pseudo Time Series

For creating PTS, the start and end point, will take from test data view and in between the points would be random partilly from Training Data

In [473]:
Starting_point = Origianl_test_view[:][0:1]
End_point = Origianl_test_view[:][182:183]

In [474]:
copy_of_training_view_row1 = finalarray_training_data
copy_of_training_view_row2 = finalarray_training_data_row2

In [475]:
for i in range(15):
    i = i * 5
    copy_of_training_view_row1 = np.delete(copy_of_training_view_row1, (1), axis=0)

In [476]:
copy_of_training_view_row1.shape

(168, 3)

In [477]:
Partial_Psuedo_Series = np.concatenate((Starting_point, copy_of_training_view_row1),axis=0)
Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, End_point),axis=0)

In [478]:
Partial_Psuedo_Series.shape

(170, 3)

In [479]:
# training_slice_1 = copy_of_training_view_row2[:][1:46]
# training_slice_2 = copy_of_training_view_row1[:][46:92]
# training_slice_3 = copy_of_training_view_row2[:][92:116]
# training_slice_4 = copy_of_training_view_row1[:][116:182]

In [480]:
# print(training_slice_1.shape)
# print(training_slice_2.shape)
# print(training_slice_3.shape)
# print(training_slice_4.shape)

In [481]:
# Partial_Psuedo_Series = np.concatenate((Starting_point, training_slice_1),axis=0)
# Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, training_slice_2),axis=0)
# Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, training_slice_3),axis=0)
# Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, training_slice_4),axis=0)
# Partial_Psuedo_Series = np.concatenate((Partial_Psuedo_Series, End_point),axis=0)

# Random Pseudo TS

In [482]:
Starting_point = Origianl_test_view[:][0:1]
End_point = Origianl_test_view[:][182:183]
copy_of_training_view_row1 = finalarray_training_data
copy_of_training_view_row2 = finalarray_training_data_row2

In [483]:
newOne = np.concatenate((copy_of_training_view_row1, copy_of_training_view_row2),axis=0)

In [484]:
shuffle_training_Data = np.random.shuffle(newOne)

In [485]:
Random_Psuedo_Time_Series = newOne[:][1:182]

In [486]:
Random_Psuedo_Time_Series.shape

(181, 3)

In [487]:
Random_Psuedo_Time_Series = np.concatenate((Starting_point, Random_Psuedo_Time_Series),axis=0)
Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, End_point),axis=0)

In [488]:
Random_Psuedo_Time_Series.shape

(183, 3)

In [489]:
# training_slice_1_for_PTS = copy_of_training_view_row1[:][1:25]
# training_slice_2_for_PTS = copy_of_training_view_row2[:][25:29]
# training_slice_3_for_PTS = copy_of_training_view_row1[:][29:50]
# training_slice_4_for_PTS = copy_of_training_view_row2[:][50:55]
# training_slice_5_for_PTS = copy_of_training_view_row1[:][55:80]
# training_slice_6_for_PTS = copy_of_training_view_row2[:][80:85]
# training_slice_7_for_PTS = copy_of_training_view_row2[:][85:110]
# training_slice_8_for_PTS = copy_of_training_view_row1[:][110:116]
# training_slice_9_for_PTS = copy_of_training_view_row2[:][116:182]

In [490]:
# Random_Psuedo_Time_Series = np.concatenate((Starting_point, training_slice_1_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_2_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_3_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_4_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_5_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_6_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_7_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_8_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, training_slice_9_for_PTS),axis=0)
# Random_Psuedo_Time_Series = np.concatenate((Random_Psuedo_Time_Series, End_point),axis=0)

In [491]:
# randomRows = numpy.random.randint(5, size=183)
# for i in randomRows:
#   print(Random_Psuedo_Time_Series[i,:])

# Testing Different DTW variants

In [492]:
from scipy.spatial.distance import pdist, cdist
from sklearn.metrics.pairwise import euclidean_distances, pairwise_distances
from sklearn.utils import check_random_state
import matplotlib.pyplot as plt

In [493]:
from tslearn.soft_dtw_fast import *
from tslearn.cysax import *
from tslearn.metrics import dtw, dtw_path,dtw_path_from_metric,soft_dtw
from tslearn.utils import *

### DTW with Path

In [494]:
# Compute Dynamic Time Warping (DTW) similarity measure between (possibly multidimensional) time series
# and return both the path and the similarity.
path, dist = dtw_path(Origianl_test_view, Random_Psuedo_Time_Series)
print(dist)

# sin1=plt.plot(list(list(zip(*path))[0]))
# plt.setp(sin1,color="b",linewidth=2.0)

# sin2=plt.plot(list(list(zip(*path))[1]))
# plt.setp(sin2,color="r",linewidth=2.0)

17.332928484030273

In [495]:
path, dist = dtw_path(Origianl_test_view, Partial_Psuedo_Series)
print(dist)

# sin1=plt.plot(list(list(zip(*path))[0]))
# plt.setp(sin1,color="b",linewidth=2.0)

# sin2=plt.plot(list(list(zip(*path))[1]))
# plt.setp(sin2,color="r",linewidth=2.0)

14.273985585955906

### DTW

In [496]:
# Compute Dynamic Time Warping (DTW) similarity measure between (possibly multidimensional) 
# time series and return it. ,
# extra parameters: global_constraint=None, sakoe_chiba_radius=None, itakura_max_slope=None
dist = dtw(Origianl_test_view, Random_Psuedo_Time_Series)
dist

17.332928484030273

In [497]:

dist = dtw(Origianl_test_view, Partial_Psuedo_Series)
dist

14.273985585955906

### Soft-DTW

In [498]:
# Compute Soft-DTW metric between two time series.
soft_dtw_score = soft_dtw(Origianl_test_view, Random_Psuedo_Time_Series, gamma=.1)
soft_dtw_score

297.9169308552677

In [499]:

soft_dtw_score = soft_dtw(Origianl_test_view, Partial_Psuedo_Series, gamma=.1)
soft_dtw_score

190.864564844767

### dtw_path_from_metric

In [500]:
# Compute Dynamic Time Warping (DTW) similarity measure between (possibly multidimensional) time series
# using a distance metric defined by the user and return both the path and 
# the similarity.
path, dist = dtw_path_from_metric(Origianl_test_view, Random_Psuedo_Time_Series)
print(dist)

225.34280814895322

In [501]:

path, dist = dtw_path_from_metric(Origianl_test_view, Partial_Psuedo_Series)
print(dist)

139.52390608906433

In [502]:
# cost = dtw(Origianl_test_view, Random_Psuedo_Time_Series, global_constraint="itakura", itakura_max_slope=2.)
# cost

In [503]:
# cost = dtw(Origianl_test_view, Partial_Psuedo_Series, global_constraint="itakura", itakura_max_slope=2.)
# cost

# Calculating fastdtw

In [231]:
# from scipy.spatial.distance import *
# from fastdtw import fastdtw

In [232]:
# # jaccard
# # euclidean
# # hamming
# # sqeuclidean
# # cityblock
# distance, path = fastdtw(OV, RV_PTS, dist=hamming)
# print(distance)
# # print(path)

# Using FastDTW

In [113]:
# import matplotlib.pyplot as plt
# from scipy.spatial.distance import euclidean
# from fastdtw import fastdtw

In [112]:
# start=0
# end=2*np.pi
# step=0.1
# k=2
# x1=np.arange(start,end,k*step)
# x2=np.arange(start,end/k,step)

# noise=np.random.uniform(start,end,len(x2))/10

# y1=np.sin(x1)+1*np.sin(2*x1)+noise

# y2=np.sin(k*x2)+1*np.sin(k*2*x2)




# time_series_A=OV
# time_series_B=RV
# distance, path = fastdtw(time_series_A, time_series_B, dist=euclidean)
# print(distance)
# # print(path)



# sin1=plt.plot(list(list(zip(*path))[0]))
# plt.setp(sin1,color="b",linewidth=2.0)

# sin2=plt.plot(list(list(zip(*path))[1]))
# plt.setp(sin2,color="r",linewidth=2.0)

# N Dimension Code

In [111]:
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt

# def MDTWDistance(s1, s2, window=10, num_columns=1):
#     DTW={}

#     w = max(window, abs(len(s1)-len(s2)))

#     for i in range(-1,len(s1)):
#         for j in range(-1,len(s2)):
#             DTW[(i, j)] = float('inf')
#     DTW[(-1, -1)] = 0

#     for i in range(len(s1)):
#         for j in range(max(0, i-w), min(len(s2), i+w)):
#             #print "Finding Distance of", s1.loc[i], s2.loc[j]
#             dist= mdist(s1.loc[i], s2.loc[j], num_columns)
#             #print "Dist", dist
#             #print i, j, dist
#             DTW[(i, j)] = dist + min(DTW[(i-1, j)],DTW[(i, j-1)], DTW[(i-1, j-1)])

#     return np.sqrt(DTW[len(s1)-1, len(s2)-1])

# def mdist(a, b, num_col):
#     dist = 0
#     for col in range(num_col):
#         #print "Finding Distance of", a[col], b[col]
#         dist = dist + (a[col]-b[col])**2
#     return dist

# x=np.linspace(0,50,100)
# ts1=pd.Series(3.1*np.sin(x/1.5)+3.5)
# ts2=pd.Series(2.2*np.sin(x/3.5+2.4)+3.2)
# ts3=pd.Series(0.04*x+8.0)
# ts4=pd.Series(0.048*x+8.6)
# ts5=pd.Series(-0.17*x+4.1)
# ts6=pd.Series(-0.14*x+4.5)

# ts1.plot()
# ts2.plot()
# ts3.plot()
# ts4.plot()
# ts5.plot()
# ts6.plot()

# plt.ylim(-4,12)
# plt.legend(['ts1','ts2','ts3','ts4','ts5','ts6'])
# plt.show()

In [69]:
# timeSeries = pd.Panel({0:pd.DataFrame(np.transpose([ts1, ts2])),
#                  1:pd.DataFrame(np.transpose([ts3, ts4])),
#                    2:pd.DataFrame(np.transpose([ts5, ts6]))
#                   })

# print ("0 and 1:",MDTWDistance(timeSeries[0], timeSeries[1],window=10, num_columns=2))
# print ("0 and 2:",MDTWDistance(timeSeries[0], timeSeries[2],window=10, num_columns=2))
# print ("1 and 2:",MDTWDistance(timeSeries[1], timeSeries[2],window=10, num_columns=2))

# Single dimension code

In [60]:
# import numpy as np
# from dtw import dtw

In [61]:
# manhattan_distance = lambda Origianl_test_view, Random_Psuedo_Series: np.abs(Origianl_test_view - Random_Psuedo_Series)

In [62]:
# d, cost_matrix, acc_cost_matrix, path = dtw(Origianl_test_view, Random_Psuedo_Series, dist=manhattan_distance)

In [ ]:
# print(d)

# R Code

In [95]:
# import numpy as np
# import rpy2.robjects.numpy2ri

# rpy2.robjects.numpy2ri.activate()
# from rpy2.robjects.packages import importr
# import rpy2.robjects as robj

In [96]:
# R = rpy2.robjects.r

In [97]:
# dtw = importr("dtw")

In [98]:
# OV = Origianl_test_view
# RV = Random_Psuedo_Series

In [195]:
# # OV
# type(OV)

In [99]:
# rt,ct = Origianl_test_view.shape
# rq,cq = Random_Psuedo_Series.shape


# Origianl_test_view_R = R.matrix(OV,nrow=rt,ncol=ct)
# Random_Psuedo_Series_R = R.matrix(OV,nrow=rq,ncol=cq)

In [101]:
# # Calculate the alignment vector and corresponding distance
# Alignment = R.dtw(Origianl_test_view_R,Random_Psuedo_Series_R
#                   ,keep=True, step_pattern=R.rabinerJuangStepPattern(4,"c")
#                   ,open_begin=True,open_end=True
# )

In [194]:
# dist = Alignment.rx('distance')[0][0]