In [62]:
import numpy as np 
from scipy.io import arff
import pandas as pd

# Pre- Steps

In [63]:
data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TRAIN.arff')

In [64]:
df_D1 = pd.DataFrame(data1[0])

In [65]:
data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TRAIN.arff')

In [66]:
df_D2 = pd.DataFrame(data2[0])

In [67]:
data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TRAIN.arff')

In [68]:
df_D3 = pd.DataFrame(data3[0])

In [69]:
print(df_D1.shape)
print(df_D2.shape)
print(df_D3.shape)

(1422, 183)
(1422, 183)
(1422, 183)

In [70]:
df_D1 =df_D1.apply(lambda x : x.fillna(method='ffill'), axis=1) 
df_D2 =df_D2.apply(lambda x : x.fillna(method='ffill'), axis=1)
df_D3 =df_D3.apply(lambda x : x.fillna(method='ffill'), axis=1)

In [71]:
df_D1 = df_D1.drop('target', axis=1)
df_D2 = df_D2.drop('target', axis=1)
df_D3 = df_D3.drop('target', axis=1)

In [72]:
print(df_D1.shape)
print(df_D2.shape)
print(df_D3.shape)

(1422, 182)
(1422, 182)
(1422, 182)

In [73]:
df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
0,-0.13015,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.4095,-0.460814,-0.517526,-0.57844,...,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591

In [74]:
df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_172,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181
0,0.071323,0.083973,0.085534,0.078218,0.067093,0.05552,0.043275,0.027787,0.005932,-0.025043,...,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228,0.544228

In [75]:
df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_172,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181
0,0.899306,1.157239,1.320469,1.369472,1.323889,1.221704,1.098215,0.979016,0.880755,0.806413,...,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098,-1.059098

In [76]:
df_D1_T = df_D1.head(1).T
df_D2_T = df_D2.head(1).T
df_D3_T = df_D3.head(1).T

In [77]:
arr1 = df_D1_T.to_numpy()
arr2 = df_D2_T.to_numpy()
arr3 = df_D3_T.to_numpy()

In [78]:
finalarray_training_data = np.concatenate((arr1, arr2),axis=1)

In [79]:
finalarray_training_data = np.concatenate((finalarray_training_data, arr3),axis=1)

<!-- ![alt text](t1.png "T1") -->

<img src="t1.png" width="500" />

Getting Row2 D1-D3

In [80]:
df_D1_Row2 = df_D1.head(2)
df_D2_Row2 = df_D2.head(2)
df_D3_Row2 = df_D3.head(2)

In [81]:
df_D1_Row2 = df_D1_Row2.drop(df_D1_Row2.index[0]).T
df_D2_Row2 = df_D2_Row2.drop(df_D2_Row2.index[0]).T
df_D3_Row2 = df_D3_Row2.drop(df_D3_Row2.index[0]).T

In [82]:
arr4 = df_D1_Row2
arr5 = df_D2_Row2
arr6 = df_D3_Row2

In [83]:
finalarray_training_data_row2 = np.concatenate((arr4, arr5),axis=1)

In [84]:
finalarray_training_data_row2 = np.concatenate((finalarray_training_data_row2, arr6),axis=1)

<!-- ![alt text](t2.png "T2") -->

<img src="t2.png" width="500" />

Getting Row3 D1-D3

In [85]:
df_D1_Row3 = df_D1.head(3)
df_D2_Row3 = df_D2.head(3)
df_D3_Row3 = df_D3.head(3)

In [86]:
df_D1_Row3

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
0,-0.130150,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.409500,-0.460814,-0.517526,-0.578440,...,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591,0.673591
1,-0.085541,-0.114704,-0.141445,-0.166160,-0.191072,-0.218434,-0.249653,-0.285248,-0.325004,-0.368095,...,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218,0.303218
2,-0.026161,-0.037501,-0.048952,-0.061438,-0.077020,-0.097312,-0.122992,-0.154525,-0.192382,-0.236238,...,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342

In [87]:
df_D1_Row3 = df_D1_Row3.drop(df_D1_Row3.index[0:2])
df_D2_Row3 = df_D2_Row3.drop(df_D2_Row3.index[0:2])
df_D3_Row3 = df_D3_Row3.drop(df_D3_Row3.index[0:2])

In [88]:
df_D1_Row3

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_172,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181
2,-0.026161,-0.037501,-0.048952,-0.061438,-0.07702,-0.097312,-0.122992,-0.154525,-0.192382,-0.236238,...,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342,0.252342

In [89]:
df_D2_Row3

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_172,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181
2,0.053789,0.074516,0.094246,0.111463,0.125568,0.136576,0.144678,0.149621,0.150365,0.145481,...,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818,0.341818

In [90]:
df_D3_Row3

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_172,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181
2,0.617474,0.790598,0.919484,1.005883,1.059747,1.084251,1.078967,1.049666,1.005971,0.950621,...,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227,-1.223227

In [91]:
df_D1_Row3 = df_D1_Row3.T
df_D2_Row3 = df_D2_Row3.T
df_D3_Row3 = df_D3_Row3.T

In [92]:
arr7 = df_D1_Row3
arr8 = df_D2_Row3
arr9 = df_D3_Row3

In [93]:
finalarray_training_data_row3 = np.concatenate((arr7, arr8),axis=1)

In [94]:
finalarray_training_data_row3 = np.concatenate((finalarray_training_data_row3, arr9),axis=1)

<!-- ![alt text](t3.png "T3") -->

<img src="t3.png" width="500" />

In [95]:
Row1 = np.copy(finalarray_training_data)
Row2 = np.copy(finalarray_training_data_row2)
Row3 = np.copy(finalarray_training_data_row3)

In [96]:
Final_View = np.concatenate((Row1, Row2),axis=0)

In [97]:
Final_View = np.concatenate((Final_View, Row3),axis=0)

In [98]:
Final_View.shape

(546, 3)

<!-- ![alt text](final.png "T3") -->

 <img src="final.png" width="500" />

## Testing data

In [124]:
Test_data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TEST.arff')

In [125]:
Test_df_D1 = pd.DataFrame(Test_data1[0])

In [126]:
Test_data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TEST.arff')

In [127]:
Test_df_D2 = pd.DataFrame(Test_data2[0])

In [128]:
Test_data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TEST.arff')

In [129]:
Test_df_D3 = pd.DataFrame(Test_data3[0])

In [130]:
print(Test_df_D1.shape)
print(Test_df_D2.shape)
print(Test_df_D3.shape)

(1436, 183)
(1436, 183)
(1436, 183)

In [131]:
Test_df_D1 =Test_df_D1.apply(lambda x : x.fillna(method='ffill'), axis=1) 
Test_df_D2 =Test_df_D2.apply(lambda x : x.fillna(method='ffill'), axis=1)
Test_df_D3 =Test_df_D3.apply(lambda x : x.fillna(method='ffill'), axis=1)

In [133]:
Test_df_D1 = Test_df_D1.drop('target', axis=1)
Test_df_D2 = Test_df_D2.drop('target', axis=1)
Test_df_D3 = Test_df_D3.drop('target', axis=1)

In [134]:
Test_df_D1_T = Test_df_D1.head(1).T
Test_df_D2_T = Test_df_D2.head(1).T
Test_df_D3_T = Test_df_D3.head(1).T

In [136]:
Test_arr1 = Test_df_D1_T.to_numpy()
Test_arr2 = Test_df_D2_T.to_numpy()
Test_arr3 = Test_df_D3_T.to_numpy()

In [137]:
finalarray_test_data = np.concatenate((Test_arr1, Test_arr2),axis=1)

In [138]:
finalarray_test_data = np.concatenate((finalarray_test_data, Test_arr3),axis=1)

## Random TS

In [155]:
Starting_point = finalarray_test_data[:][0:1]
End_point = finalarray_test_data[:][181:182]
Sub_Sampling = Final_View[:][1:250]

In [156]:
number_of_rows = Sub_Sampling.shape[0]
random_indices = np.random.choice(number_of_rows, size=181, replace=False)
random_rows = Sub_Sampling[random_indices, :]

In [159]:
Random_TS = np.concatenate((Starting_point, random_rows),axis=0)

In [160]:
Random_TS = np.concatenate((Random_TS, End_point),axis=0)

In [161]:
Random_TS.shape

(183, 3)

# Pseudo TS

In [167]:
Sub_Sampling_PTS = Final_View[:][0:181]

In [166]:
Sub_Sampling_PTS.shape

(181, 3)

In [168]:
Pseudo_TS = np.concatenate((Starting_point, Sub_Sampling_PTS),axis=0)

In [169]:
Pseudo_TS = np.concatenate((Pseudo_TS, End_point),axis=0)

### Similarity Matrix