In [1]:
import numpy as np 
from scipy.io import arff
import pandas as pd

# Creating Training Data view

In [2]:
data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TRAIN.arff')

In [3]:
df_D1 = pd.DataFrame(data1[0])

In [4]:
data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TRAIN.arff')

In [5]:
df_D2 = pd.DataFrame(data2[0])

In [6]:
data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TRAIN.arff')

In [7]:
df_D3 = pd.DataFrame(data3[0])

In [8]:
df_D1.shape

(1422, 183)

In [9]:
df_D2.shape

(1422, 183)

In [10]:
df_D3.shape

(1422, 183)

In [11]:
df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,-0.13015,-0.183121,-0.234104,-0.279929,-0.321851,-0.363783,-0.4095,-0.460814,-0.517526,-0.57844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [12]:
df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [13]:
df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,0.071323,0.083973,0.085534,0.078218,0.067093,0.05552,0.043275,0.027787,0.005932,-0.025043,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [14]:
df_D2.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [15]:
df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.899306,1.157239,1.320469,1.369472,1.323889,1.221704,1.098215,0.979016,0.880755,0.806413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [16]:
df_D3.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [17]:
df_D1 = df_D1.fillna(0)
df_D2 = df_D2.fillna(0)
df_D3 = df_D3.fillna(0)

In [18]:
df_D1_T = df_D1.head(1).T

In [19]:
df_D2_T = df_D2.head(1).T

In [20]:
df_D3_T = df_D3.head(1).T

In [21]:
arr1 = df_D1_T.to_numpy()
arr2 = df_D2_T.to_numpy()
arr3 = df_D3_T.to_numpy()

In [22]:
finalarray_training_data = np.concatenate((arr1, arr2),axis=1)

In [23]:
finalarray_training_data = np.concatenate((finalarray_training_data, arr3),axis=1)

In [24]:
finalarray_training_data

array([[-0.13015, 0.071323, 0.899306],
       [-0.183121, 0.083973, 1.157239],
       [-0.234104, 0.085534, 1.320469],
       [-0.279929, 0.078218, 1.369472],
       [-0.321851, 0.067093, 1.323889],
       [-0.363783, 0.05552, 1.221704],
       [-0.4095, 0.043275, 1.098215],
       [-0.460814, 0.027787, 0.979016],
       [-0.517526, 0.005932, 0.880755],
       [-0.57844, -0.025043, 0.806413],
       [-0.642335, -0.066984, 0.742138],
       [-0.708369, -0.120483, 0.670647],
       [-0.776037, -0.185363, 0.589337],
       [-0.844799, -0.261646, 0.509148],
       [-0.913359, -0.349528, 0.440515],
       [-0.978872, -0.448135, 0.3894],
       [-1.036865, -0.554524, 0.359572],
       [-1.082398, -0.663956, 0.344563],
       [-1.111614, -0.770916, 0.322058],
       [-1.122168, -0.870061, 0.271962],
       [-1.112322, -0.95681, 0.199647],
       [-1.080184, -1.027564, 0.130489],
       [-1.024236, -1.079644, 0.084365],
       [-0.944604, -1.111149, 0.064815],
       [-0.843469, -1.121016, 0.066682],
       [-0.724226, -1.109332, 0.081823],
       [-0.590649, -1.077545, 0.100159],
       [-0.446936, -1.028084, 0.115267],
       [-0.297932, -0.963634, 0.128232],
       [-0.148794, -0.886796, 0.139693],
       [-0.004546, -0.800359, 0.142104],
       [0.13014, -0.707551, 0.129275],
       [0.251447, -0.611728, 0.109656],
       [0.357344, -0.515526, 0.097602],
       [0.4482, -0.420019, 0.093847],
       [0.526596, -0.324393, 0.087839],
       [0.596567, -0.226183, 0.077505],
       [0.662582, -0.121687, 0.072468],
       [0.728357, -0.006563, 0.076804],
       [0.795736, 0.122791, 0.081033],
       [0.864318, 0.267273, 0.074897],
       [0.932146, 0.424113, 0.060028],
       [0.996691, 0.587763, 0.045914],
       [1.055067, 0.751332, 0.038271],
       [1.103557, 0.907227, 0.035234],
       [1.137583, 1.047542, 0.031682],
       [1.152673, 1.165035, 0.024566],
       [1.145736, 1.254235, 0.017579],
       [1.115602, 1.31195, 0.021401],
       [1.062653, 1.337243, 0.043884],
       [0.988309, 1.33119, 0.081304],
       [0.895041, 1.296259, 0.127452],
       [0.786664, 1.235296, 0.187028],
       [0.668248, 1.150822, 0.265426],
       [0.545463, 1.045354, 0.347009],
       [0.423899, 0.922427, 0.399681],
       [0.308732, 0.787098, 0.402621],
       [0.203901, 0.645131, 0.358832],
       [0.11002, 0.501353, 0.284243],
       [0.023092, 0.35853, 0.197375],
       [-0.062932, 0.217461, 0.117088],
       [-0.151422, 0.077811, 0.057831],
       [-0.241478, -0.061271, 0.023321],
       [-0.33061, -0.201091, 0.007578],
       [-0.417377, -0.343313, 0.001967],
       [-0.501012, -0.489118, 0.000406],
       [-0.579531, -0.637844, 6.6e-05],
       [-0.648897, -0.786177, 9e-06],
       [-0.703882, -0.92854, 1e-06],
       [-0.739634, -1.058438, 0.0],
       [-0.752814, -1.169921, 0.0],
       [-0.7417, -1.258418, 0.0],
       [-0.705559, -1.320743, 0.0],
       [-0.644223, -1.354655, 0.0],
       [-0.558613, -1.358592, 0.0],
       [-0.451547, -1.331774, 0.0],
       [-0.32764, -1.274499, 0.0],
       [-0.192084, -1.188409, 0.0],
       [-0.04927, -1.076564, 0.0],
       [0.097554, -0.943216, 0.0],
       [0.24556, -0.793123, 0.0],
       [0.392077, -0.63058, 0.0],
       [0.535592, -0.45867, -3e-06],
       [0.67652, -0.27926, -2.7e-05],
       [0.816243, -0.093793, -0.000211],
       [0.955036, 0.095611, -0.001319],
       [1.090303, 0.285256, -0.006554],
       [1.215929, 0.469446, -0.026126],
       [1.323005, 0.640665, -0.084246],
       [1.401796, 0.790455, -0.222055],
       [1.44428, 0.910914, -0.484459],
       [1.44668, 0.996456, -0.887331],
       [1.411775, 1.045153, -1.384746],
       [1.350204, 1.059351, -1.86823],
       [1.278833, 1.045773, -2.211818],
       [1.21508, 1.015013, -2.341004],
       [1.169886, 0.979411, -2.2767],
       [1.144527, 0.949175, -2.114594],
       [1.133459, 0.929101, -1.955706],
       [1.129829, 0.918521, -1.851204],
       [1.129001, 0.914082, -1.800501],
       [1.128902, 0.912602, -1.781772],
       [1.128912, 0.91221, -1.776437],
       [1.12892, 0.912128, -1.775257],
       [1.128922, 0.912115, -1.775054],
       [1.128923, 0.912113, -1.775027],
       [1.128921, 0.912112, -1.775021],
       [1.128906, 0.912099, -1.774998],
       [1.128793, 0.912008, -1.77482],
       [1.128121, 0.911465, -1.773763],
       [1.124982, 0.908929, -1.768828],
       [1.113458, 0.899618, -1.750708],
       [1.08015, 0.872707, -1.698337],
       [1.00425, 0.811384, -1.578999],
       [0.867711, 0.701067, -1.364316],
       [0.673591, 0.544228, -1.059098],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [b'1', b'1', b'1']], dtype=object)

In [25]:
finalarray_training_data[:][0]

array([-0.13015, 0.071323, 0.899306], dtype=object)

In [26]:
finalarray_training_data[:][-1]

array([b'1', b'1', b'1'], dtype=object)

In [27]:
dictionary = dict()

In [28]:
dictionary['1'] = finalarray_training_data

In [29]:
dictionary

{'1': array([[-0.13015, 0.071323, 0.899306],
        [-0.183121, 0.083973, 1.157239],
        [-0.234104, 0.085534, 1.320469],
        [-0.279929, 0.078218, 1.369472],
        [-0.321851, 0.067093, 1.323889],
        [-0.363783, 0.05552, 1.221704],
        [-0.4095, 0.043275, 1.098215],
        [-0.460814, 0.027787, 0.979016],
        [-0.517526, 0.005932, 0.880755],
        [-0.57844, -0.025043, 0.806413],
        [-0.642335, -0.066984, 0.742138],
        [-0.708369, -0.120483, 0.670647],
        [-0.776037, -0.185363, 0.589337],
        [-0.844799, -0.261646, 0.509148],
        [-0.913359, -0.349528, 0.440515],
        [-0.978872, -0.448135, 0.3894],
        [-1.036865, -0.554524, 0.359572],
        [-1.082398, -0.663956, 0.344563],
        [-1.111614, -0.770916, 0.322058],
        [-1.122168, -0.870061, 0.271962],
        [-1.112322, -0.95681, 0.199647],
        [-1.080184, -1.027564, 0.130489],
        [-1.024236, -1.079644, 0.084365],
        [-0.944604, -1.111149, 0.064815],
        [-0.843469, -1.121016, 0.066682],
        [-0.724226, -1.109332, 0.081823],
        [-0.590649, -1.077545, 0.100159],
        [-0.446936, -1.028084, 0.115267],
        [-0.297932, -0.963634, 0.128232],
        [-0.148794, -0.886796, 0.139693],
        [-0.004546, -0.800359, 0.142104],
        [0.13014, -0.707551, 0.129275],
        [0.251447, -0.611728, 0.109656],
        [0.357344, -0.515526, 0.097602],
        [0.4482, -0.420019, 0.093847],
        [0.526596, -0.324393, 0.087839],
        [0.596567, -0.226183, 0.077505],
        [0.662582, -0.121687, 0.072468],
        [0.728357, -0.006563, 0.076804],
        [0.795736, 0.122791, 0.081033],
        [0.864318, 0.267273, 0.074897],
        [0.932146, 0.424113, 0.060028],
        [0.996691, 0.587763, 0.045914],
        [1.055067, 0.751332, 0.038271],
        [1.103557, 0.907227, 0.035234],
        [1.137583, 1.047542, 0.031682],
        [1.152673, 1.165035, 0.024566],
        [1.145736, 1.254235, 0.017579],
        [1.115602, 1.31195, 0.021401],
        [1.062653, 1.337243, 0.043884],
        [0.988309, 1.33119, 0.081304],
        [0.895041, 1.296259, 0.127452],
        [0.786664, 1.235296, 0.187028],
        [0.668248, 1.150822, 0.265426],
        [0.545463, 1.045354, 0.347009],
        [0.423899, 0.922427, 0.399681],
        [0.308732, 0.787098, 0.402621],
        [0.203901, 0.645131, 0.358832],
        [0.11002, 0.501353, 0.284243],
        [0.023092, 0.35853, 0.197375],
        [-0.062932, 0.217461, 0.117088],
        [-0.151422, 0.077811, 0.057831],
        [-0.241478, -0.061271, 0.023321],
        [-0.33061, -0.201091, 0.007578],
        [-0.417377, -0.343313, 0.001967],
        [-0.501012, -0.489118, 0.000406],
        [-0.579531, -0.637844, 6.6e-05],
        [-0.648897, -0.786177, 9e-06],
        [-0.703882, -0.92854, 1e-06],
        [-0.739634, -1.058438, 0.0],
        [-0.752814, -1.169921, 0.0],
        [-0.7417, -1.258418, 0.0],
        [-0.705559, -1.320743, 0.0],
        [-0.644223, -1.354655, 0.0],
        [-0.558613, -1.358592, 0.0],
        [-0.451547, -1.331774, 0.0],
        [-0.32764, -1.274499, 0.0],
        [-0.192084, -1.188409, 0.0],
        [-0.04927, -1.076564, 0.0],
        [0.097554, -0.943216, 0.0],
        [0.24556, -0.793123, 0.0],
        [0.392077, -0.63058, 0.0],
        [0.535592, -0.45867, -3e-06],
        [0.67652, -0.27926, -2.7e-05],
        [0.816243, -0.093793, -0.000211],
        [0.955036, 0.095611, -0.001319],
        [1.090303, 0.285256, -0.006554],
        [1.215929, 0.469446, -0.026126],
        [1.323005, 0.640665, -0.084246],
        [1.401796, 0.790455, -0.222055],
        [1.44428, 0.910914, -0.484459],
        [1.44668, 0.996456, -0.887331],
        [1.411775, 1.045153, -1.384746],
        [1.350204, 1.059351, -1.86823],
        [1.278833, 1.045773, -2.211818],
        [1.21508, 1.015013, -2.341004],
        [1.169886, 0.979411, -2.2767],
        [1.144527, 0.949175, -2.114594],
        [1.133459, 0.929101, -1.955706],
        [1.129829, 0.918521, -1.851204],
        [1.129001, 0.914082, -1.800501],
        [1.128902, 0.912602, -1.781772],
        [1.128912, 0.91221, -1.776437],
        [1.12892, 0.912128, -1.775257],
        [1.128922, 0.912115, -1.775054],
        [1.128923, 0.912113, -1.775027],
        [1.128921, 0.912112, -1.775021],
        [1.128906, 0.912099, -1.774998],
        [1.128793, 0.912008, -1.77482],
        [1.128121, 0.911465, -1.773763],
        [1.124982, 0.908929, -1.768828],
        [1.113458, 0.899618, -1.750708],
        [1.08015, 0.872707, -1.698337],
        [1.00425, 0.811384, -1.578999],
        [0.867711, 0.701067, -1.364316],
        [0.673591, 0.544228, -1.059098],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0],
        [b'1', b'1', b'1']], dtype=object)}

# Making Original Test View

In [30]:
Test_data1 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension1_TEST.arff')

In [31]:
Test_df_D1 = pd.DataFrame(Test_data1[0])

In [32]:
Test_data2 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension2_TEST.arff')

In [33]:
Test_df_D2 = pd.DataFrame(Test_data2[0])

In [34]:
Test_data3 = arff.loadarff('/Users/arslanaliawan/Desktop/Pre-experiment/Multivariate_arff/CharacterTrajectories/CharacterTrajectoriesDimension3_TEST.arff')

In [35]:
Test_df_D3 = pd.DataFrame(Test_data3[0])

In [36]:
print(Test_df_D1.shape)
print(Test_df_D2.shape)
print(Test_df_D3.shape)

(1436, 183)
(1436, 183)
(1436, 183)

In [37]:
Test_df_D1.head(1)

,channel_0_0,channel_0_1,channel_0_2,channel_0_3,channel_0_4,channel_0_5,channel_0_6,channel_0_7,channel_0_8,channel_0_9,...,channel_0_173,channel_0_174,channel_0_175,channel_0_176,channel_0_177,channel_0_178,channel_0_179,channel_0_180,channel_0_181,target
0,0.043915,0.033922,0.007255,-0.030362,-0.069213,-0.101034,-0.123061,-0.138499,-0.153547,-0.173622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [38]:
Test_df_D1.target.unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9', b'10', b'11',
       b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20'],
      dtype=object)

In [39]:
Test_df_D2.head(1)

,channel_1_0,channel_1_1,channel_1_2,channel_1_3,channel_1_4,channel_1_5,channel_1_6,channel_1_7,channel_1_8,channel_1_9,...,channel_1_173,channel_1_174,channel_1_175,channel_1_176,channel_1_177,channel_1_178,channel_1_179,channel_1_180,channel_1_181,target
0,-0.010011,-0.004357,0.005951,0.018295,0.029589,0.038164,0.044259,0.048942,0.052885,0.056265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [40]:
Test_df_D3.head(1)

,channel_2_0,channel_2_1,channel_2_2,channel_2_3,channel_2_4,channel_2_5,channel_2_6,channel_2_7,channel_2_8,channel_2_9,...,channel_2_173,channel_2_174,channel_2_175,channel_2_176,channel_2_177,channel_2_178,channel_2_179,channel_2_180,channel_2_181,target
0,0.536491,0.76718,0.993862,1.184721,1.31248,1.360485,1.32964,1.241397,1.13202,1.03714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'1'

In [41]:
Test_df_D1_T = Test_df_D1.head(1).T
Test_df_D2_T = Test_df_D2.head(1).T
Test_df_D3_T = Test_df_D3.head(1).T

In [42]:
Test_df_D1_T=Test_df_D1_T.fillna(0)
Test_df_D2_T=Test_df_D2_T.fillna(0)
Test_df_D3_T=Test_df_D2_T.fillna(0)

In [43]:
Test_arr1 = Test_df_D1_T.to_numpy()
Test_arr2 = Test_df_D2_T.to_numpy()
Test_arr3 = Test_df_D3_T.to_numpy()

In [44]:
finalarray_test_data = np.concatenate((Test_arr1, Test_arr2),axis=1)

In [45]:
finalarray_test_data = np.concatenate((finalarray_test_data, Test_arr3),axis=1)

In [46]:
Origianl_test_view = finalarray_test_data

In [47]:
Origianl_test_view

array([[0.043915, -0.010011, -0.010011],
       [0.033922, -0.004357, -0.004357],
       [0.007255, 0.005951, 0.005951],
       [-0.030362, 0.018295, 0.018295],
       [-0.069213, 0.029589, 0.029589],
       [-0.101034, 0.038164, 0.038164],
       [-0.123061, 0.044259, 0.044259],
       [-0.138499, 0.048942, 0.048942],
       [-0.153547, 0.052885, 0.052885],
       [-0.173622, 0.056265, 0.056265],
       [-0.201387, 0.059159, 0.059159],
       [-0.236853, 0.061321, 0.061321],
       [-0.278391, 0.061678, 0.061678],
       [-0.323717, 0.058629, 0.058629],
       [-0.370581, 0.05106, 0.05106],
       [-0.417049, 0.038811, 0.038811],
       [-0.461461, 0.022059, 0.022059],
       [-0.502443, 0.000726, 0.000726],
       [-0.539417, -0.025113, -0.025113],
       [-0.573203, -0.054538, -0.054538],
       [-0.605837, -0.085954, -0.085954],
       [-0.639575, -0.117873, -0.117873],
       [-0.676042, -0.149349, -0.149349],
       [-0.716054, -0.179872, -0.179872],
       [-0.75975, -0.209258, -0.209258],
       [-0.806686, -0.23794, -0.23794],
       [-0.855986, -0.267409, -0.267409],
       [-0.906497, -0.300147, -0.300147],
       [-0.956614, -0.338782, -0.338782],
       [-1.003785, -0.385112, -0.385112],
       [-1.044348, -0.439809, -0.439809],
       [-1.074077, -0.502573, -0.502573],
       [-1.088916, -0.571986, -0.571986],
       [-1.085134, -0.644966, -0.644966],
       [-1.059091, -0.716624, -0.716624],
       [-1.007412, -0.781201, -0.781201],
       [-0.927924, -0.83374, -0.83374],
       [-0.820883, -0.871316, -0.871316],
       [-0.689741, -0.892949, -0.892949],
       [-0.540904, -0.898687, -0.898687],
       [-0.382308, -0.888985, -0.888985],
       [-0.221263, -0.864803, -0.864803],
       [-0.062844, -0.827671, -0.827671],
       [0.089813, -0.779205, -0.779205],
       [0.233857, -0.72041, -0.72041],
       [0.366412, -0.651543, -0.651543],
       [0.486553, -0.572672, -0.572672],
       [0.596768, -0.484367, -0.484367],
       [0.701476, -0.387891, -0.387891],
       [0.804017, -0.284805, -0.284805],
       [0.904899, -0.176441, -0.176441],
       [1.001947, -0.063858, -0.063858],
       [1.091215, 0.051455, 0.051455],
       [1.167793, 0.166996, 0.166996],
       [1.22655, 0.279917, 0.279917],
       [1.263161, 0.38832, 0.38832],
       [1.275443, 0.491464, 0.491464],
       [1.264252, 0.588753, 0.588753],
       [1.233092, 0.67906, 0.67906],
       [1.186715, 0.761029, 0.761029],
       [1.129887, 0.833621, 0.833621],
       [1.066841, 0.896264, 0.896264],
       [1.000967, 0.948746, 0.948746],
       [0.934415, 0.991127, 0.991127],
       [0.867934, 1.023655, 1.023655],
       [0.801281, 1.046532, 1.046532],
       [0.73402, 1.059519, 1.059519],
       [0.666262, 1.061624, 1.061624],
       [0.598923, 1.051129, 1.051129],
       [0.53328, 1.025921, 1.025921],
       [0.470109, 0.98395, 0.98395],
       [0.40919, 0.923731, 0.923731],
       [0.349558, 0.844987, 0.844987],
       [0.290083, 0.749373, 0.749373],
       [0.230008, 0.640895, 0.640895],
       [0.169431, 0.525353, 0.525353],
       [0.109232, 0.408622, 0.408622],
       [0.049748, 0.294602, 0.294602],
       [-0.011013, 0.184133, 0.184133],
       [-0.077269, 0.075656, 0.075656],
       [-0.152822, -0.032932, -0.032932],
       [-0.238447, -0.142835, -0.142835],
       [-0.331686, -0.254381, -0.254381],
       [-0.428161, -0.367648, -0.367648],
       [-0.522589, -0.482268, -0.482268],
       [-0.609425, -0.59646, -0.59646],
       [-0.683699, -0.70661, -0.70661],
       [-0.741873, -0.808159, -0.808159],
       [-0.782362, -0.897263, -0.897263],
       [-0.805555, -0.972103, -0.972103],
       [-0.813052, -1.033026, -1.033026],
       [-0.80652, -1.081585, -1.081585],
       [-0.787178, -1.119226, -1.119226],
       [-0.755941, -1.146383, -1.146383],
       [-0.713146, -1.162243, -1.162243],
       [-0.657745, -1.164956, -1.164956],
       [-0.587264, -1.151963, -1.151963],
       [-0.49933, -1.120424, -1.120424],
       [-0.393536, -1.067905, -1.067905],
       [-0.271964, -0.99322, -0.99322],
       [-0.138201, -0.896901, -0.896901],
       [0.003921, -0.780931, -0.780931],
       [0.150917, -0.64802, -0.64802],
       [0.299655, -0.501096, -0.501096],
       [0.447246, -0.343406, -0.343406],
       [0.590895, -0.179044, -0.179044],
       [0.727505, -0.013296, -0.013296],
       [0.853056, 0.147727, 0.147727],
       [0.962336, 0.298049, 0.298049],
       [1.049581, 0.432752, 0.432752],
       [1.109779, 0.548347, 0.548347],
       [1.139787, 0.64264, 0.64264],
       [1.138699, 0.714601, 0.714601],
       [1.107613, 0.764666, 0.764666],
       [1.049166, 0.795205, 0.795205],
       [0.96717, 0.810322, 0.810322],
       [0.866545, 0.814601, 0.814601],
       [0.75347, 0.811552, 0.811552],
       [0.635331, 0.802803, 0.802803],
       [0.520174, 0.788423, 0.788423],
       [0.416165, 0.767992, 0.767992],
       [0.331232, 0.741866, 0.741866],
       [0.27169, 0.712147, 0.712147],
       [0.239253, 0.682702, 0.682702],
       [0.228975, 0.657823, 0.657823],
       [0.231323, 0.640213, 0.640213],
       [0.237279, 0.629916, 0.629916],
       [0.241941, 0.624993, 0.624993],
       [0.244337, 0.623085, 0.623085],
       [0.245239, 0.622488, 0.622488],
       [0.245498, 0.622339, 0.622339],
       [0.245555, 0.622309, 0.622309],
       [0.245565, 0.622304, 0.622304],
       [0.245566, 0.622304, 0.622304],
       [0.245566, 0.622303, 0.622303],
       [0.245563, 0.622294, 0.622294],
       [0.245538, 0.622232, 0.622232],
       [0.245392, 0.621862, 0.621862],
       [0.244709, 0.620131, 0.620131],
       [0.242202, 0.613779, 0.613779],
       [0.234957, 0.595418, 0.595418],
       [0.218447, 0.55358, 0.55358],
       [0.188747, 0.478314, 0.478314],
       [0.146521, 0.371308, 0.371308],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [b'1', b'1', b'1']], dtype=object)

# Random Time Series

For creating RTS, the start and end point, will take from test data view and in between the points would be random from Training Data

In [48]:
Starting_point = Origianl_test_view[:][0:1]
End_point = Origianl_test_view[:][182:183]

In [49]:
copy_of_training_view = finalarray_training_data

In [87]:
training_slice_1 = copy_of_training_view[:][1:46]
training_slice_2 = copy_of_training_view[:][46:92]
training_slice_3 = copy_of_training_view[:][92:135]
training_slice_4 = copy_of_training_view[:][135:182]

In [88]:
print(training_slice_1.shape)
print(training_slice_2.shape)
print(training_slice_3.shape)
print(training_slice_4.shape)

(45, 3)
(46, 3)
(43, 3)
(47, 3)

In [89]:
Random_Psuedo_Series = np.concatenate((Starting_point, training_slice_1),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, training_slice_4),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, training_slice_3),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, training_slice_2),axis=0)
Random_Psuedo_Series = np.concatenate((Random_Psuedo_Series, End_point),axis=0)

In [90]:
Random_Psuedo_Series

array([[0.043915, -0.010011, -0.010011],
       [-0.183121, 0.083973, 1.157239],
       [-0.234104, 0.085534, 1.320469],
       [-0.279929, 0.078218, 1.369472],
       [-0.321851, 0.067093, 1.323889],
       [-0.363783, 0.05552, 1.221704],
       [-0.4095, 0.043275, 1.098215],
       [-0.460814, 0.027787, 0.979016],
       [-0.517526, 0.005932, 0.880755],
       [-0.57844, -0.025043, 0.806413],
       [-0.642335, -0.066984, 0.742138],
       [-0.708369, -0.120483, 0.670647],
       [-0.776037, -0.185363, 0.589337],
       [-0.844799, -0.261646, 0.509148],
       [-0.913359, -0.349528, 0.440515],
       [-0.978872, -0.448135, 0.3894],
       [-1.036865, -0.554524, 0.359572],
       [-1.082398, -0.663956, 0.344563],
       [-1.111614, -0.770916, 0.322058],
       [-1.122168, -0.870061, 0.271962],
       [-1.112322, -0.95681, 0.199647],
       [-1.080184, -1.027564, 0.130489],
       [-1.024236, -1.079644, 0.084365],
       [-0.944604, -1.111149, 0.064815],
       [-0.843469, -1.121016, 0.066682],
       [-0.724226, -1.109332, 0.081823],
       [-0.590649, -1.077545, 0.100159],
       [-0.446936, -1.028084, 0.115267],
       [-0.297932, -0.963634, 0.128232],
       [-0.148794, -0.886796, 0.139693],
       [-0.004546, -0.800359, 0.142104],
       [0.13014, -0.707551, 0.129275],
       [0.251447, -0.611728, 0.109656],
       [0.357344, -0.515526, 0.097602],
       [0.4482, -0.420019, 0.093847],
       [0.526596, -0.324393, 0.087839],
       [0.596567, -0.226183, 0.077505],
       [0.662582, -0.121687, 0.072468],
       [0.728357, -0.006563, 0.076804],
       [0.795736, 0.122791, 0.081033],
       [0.864318, 0.267273, 0.074897],
       [0.932146, 0.424113, 0.060028],
       [0.996691, 0.587763, 0.045914],
       [1.055067, 0.751332, 0.038271],
       [1.103557, 0.907227, 0.035234],
       [1.137583, 1.047542, 0.031682],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [1.411775, 1.045153, -1.384746],
       [1.350204, 1.059351, -1.86823],
       [1.278833, 1.045773, -2.211818],
       [1.21508, 1.015013, -2.341004],
       [1.169886, 0.979411, -2.2767],
       [1.144527, 0.949175, -2.114594],
       [1.133459, 0.929101, -1.955706],
       [1.129829, 0.918521, -1.851204],
       [1.129001, 0.914082, -1.800501],
       [1.128902, 0.912602, -1.781772],
       [1.128912, 0.91221, -1.776437],
       [1.12892, 0.912128, -1.775257],
       [1.128922, 0.912115, -1.775054],
       [1.128923, 0.912113, -1.775027],
       [1.128921, 0.912112, -1.775021],
       [1.128906, 0.912099, -1.774998],
       [1.128793, 0.912008, -1.77482],
       [1.128121, 0.911465, -1.773763],
       [1.124982, 0.908929, -1.768828],
       [1.113458, 0.899618, -1.750708],
       [1.08015, 0.872707, -1.698337],
       [1.00425, 0.811384, -1.578999],
       [0.867711, 0.701067, -1.364316],
       [0.673591, 0.544228, -1.059098],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [1.152673, 1.165035, 0.024566],
       [1.145736, 1.254235, 0.017579],
       [1.115602, 1.31195, 0.021401],
       [1.062653, 1.337243, 0.043884],
       [0.988309, 1.33119, 0.081304],
       [0.895041, 1.296259, 0.127452],
       [0.786664, 1.235296, 0.187028],
       [0.668248, 1.150822, 0.265426],
       [0.545463, 1.045354, 0.347009],
       [0.423899, 0.922427, 0.399681],
       [0.308732, 0.787098, 0.402621],
       [0.203901, 0.645131, 0.358832],
       [0.11002, 0.501353, 0.284243],
       [0.023092, 0.35853, 0.197375],
       [-0.062932, 0.217461, 0.117088],
       [-0.151422, 0.077811, 0.057831],
       [-0.241478, -0.061271, 0.023321],
       [-0.33061, -0.201091, 0.007578],
       [-0.417377, -0.343313, 0.001967],
       [-0.501012, -0.489118, 0.000406],
       [-0.579531, -0.637844, 6.6e-05],
       [-0.648897, -0.786177, 9e-06],
       [-0.703882, -0.92854, 1e-06],
       [-0.739634, -1.058438, 0.0],
       [-0.752814, -1.169921, 0.0],
       [-0.7417, -1.258418, 0.0],
       [-0.705559, -1.320743, 0.0],
       [-0.644223, -1.354655, 0.0],
       [-0.558613, -1.358592, 0.0],
       [-0.451547, -1.331774, 0.0],
       [-0.32764, -1.274499, 0.0],
       [-0.192084, -1.188409, 0.0],
       [-0.04927, -1.076564, 0.0],
       [0.097554, -0.943216, 0.0],
       [0.24556, -0.793123, 0.0],
       [0.392077, -0.63058, 0.0],
       [0.535592, -0.45867, -3e-06],
       [0.67652, -0.27926, -2.7e-05],
       [0.816243, -0.093793, -0.000211],
       [0.955036, 0.095611, -0.001319],
       [1.090303, 0.285256, -0.006554],
       [1.215929, 0.469446, -0.026126],
       [1.323005, 0.640665, -0.084246],
       [1.401796, 0.790455, -0.222055],
       [1.44428, 0.910914, -0.484459],
       [1.44668, 0.996456, -0.887331],
       [b'1', b'1', b'1']], dtype=object)

In [91]:
Random_Psuedo_Series.shape

(183, 3)

# Partial Psuedo TS

# Calculating DTW

In [122]:
import numpy as np
from scipy.spatial.distance import *

from fastdtw import fastdtw

In [123]:
OV = Origianl_test_view
RV = Random_Psuedo_Series

In [136]:
# RV.ndim
# np.info(RV)

In [137]:
distance, path = fastdtw(OV, RV, dist=jaccard)
print(distance)

181.0

In [ ]:
jaccard
euclidean
hamming
sqeuclidean
cityblock

# Single dimension code

In [102]:
# import numpy as np
# from dtw import dtw

In [104]:
# manhattan_distance = lambda Origianl_test_view, Random_Psuedo_Series: np.abs(Origianl_test_view - Random_Psuedo_Series)

In [106]:
# d, cost_matrix, acc_cost_matrix, path = dtw(Origianl_test_view, Random_Psuedo_Series, dist=manhattan_distance)

In [ ]:
# print(d)

# R Code

In [95]:
# import numpy as np
# import rpy2.robjects.numpy2ri

# rpy2.robjects.numpy2ri.activate()
# from rpy2.robjects.packages import importr
# import rpy2.robjects as robj

In [96]:
# R = rpy2.robjects.r

In [97]:
# dtw = importr("dtw")

In [98]:
# OV = Origianl_test_view
# RV = Random_Psuedo_Series

In [195]:
# # OV
# type(OV)

In [99]:
# rt,ct = Origianl_test_view.shape
# rq,cq = Random_Psuedo_Series.shape


# Origianl_test_view_R = R.matrix(OV,nrow=rt,ncol=ct)
# Random_Psuedo_Series_R = R.matrix(OV,nrow=rq,ncol=cq)

In [101]:
# # Calculate the alignment vector and corresponding distance
# Alignment = R.dtw(Origianl_test_view_R,Random_Psuedo_Series_R
#                   ,keep=True, step_pattern=R.rabinerJuangStepPattern(4,"c")
#                   ,open_begin=True,open_end=True
# )

In [194]:
# dist = Alignment.rx('distance')[0][0]